.viewport {
    display: flow-root;
    box-sizing: border-box ;
    isolation: isolate ;

    background-color: var(--canvas, Canvas) ;
}

@media screen {
    .viewport {
        position: fixed ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        overflow: auto ;

        contain: strict ;
    }
}
