.entryList {
    all: unset;
}
.entryItem {
    all: unset;
    display: flex;
}

.grabberWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grabber {
    all: unset;
    user-select: none;
    cursor: grab;

    margin-inline: 0.5em;
    padding-inline: 0.4em;
    padding-block: 0.5em;
    max-block-size: 1.5em;

    border-color: grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.6em;
}

.entryList[data-anydragging="true"] {
    cursor: grabbing;
}
.grabber[data-dragging="true"] {
    cursor: grabbing;
}

.grabber[data-dragging="true"] {
    background-color: grey;
}
.grabber[data-dragging="false"]:hover {
    background-color: darkgrey;
}
.entryItem[data-otherdragging="true"]:hover {
    background: grey;
}
