.wrapper, .table, .thead, .tfoot, .tbody, .tr, .th, .td, .colgroup, .col, .caption {
    box-sizing: border-box;
}

.wrapper {
    margin-block: var(--line);
    overflow: auto;
}
.table {
    border-collapse: collapse;
}

.thead :is(.th, .td) {
    border-width: 1px;
    border-style: none none solid none;
}

.th {
    font-weight: inherit;
}

.th, .td {
    font-variant-numeric: lining-nums tabular-nums;
    vertical-align: top;
}
.th, .td, .caption {
    text-align: start;
}

.th, .td {
    padding-inline-end: 1em;
}

.caption {
    color: var(--emphasis-text);
}
