.disclosure, .wrapper, .content {
    display: flow-root ;
    contain: layout style ;
}

.disclosure {
    position: relative ;
}

.wrapper {
    inset-block-start: 0 ;
    contain: layout paint style ;
    overflow: hidden ;
}

@media screen {
    .disclosureHidden {
        overflow-anchor: none ;
        visibility: hidden ;
    }

    .wrapperHidden {
        position: absolute ;
        opacity: 0 ;
    }

    .contentHidden {
        transform: translateY(-100%) ;
    }
}

.disclosureWillChange {
    will-change: visibility ;
}
.wrapperWillChange {
    will-change: opacity ;
}
.contentWillChange {
    will-change: transform ;
}

.disclosure, .wrapper, .content {
    transition-timing-function: ease-out;
}
.disclosureHidden, .wrapperHidden, .contentHidden {
    transition-timing-function: ease-in;
}

@media (prefers-reduced-motion: no-preference) {
    .content {
        transition-property: transform ;
    }
}

.wrapper {
    transition-property: opacity ;

}
.wrapperHidden {
    transition-property: opacity ;
}
.disclosureHidden {
    transition-property: visibility ;
}

.disclosure, .wrapper, .content {
    transition-duration: 0.2s ;
}
.disclosureHidden, .wrapperHidden, .contentHidden {
    transition-duration: 0.19s ;
}
