.disclosure, .wrapper, .content {
    display: flow-root ;
}

.disclosure {
    contain: layout style ;
}
.wrapper, .content {
    contain: layout paint style ;
}

.wrapper {
    inset-block-start: 0 ;
    overflow: hidden ;

    inline-size: fit-content ;
    max-inline-size: 100% ;
}

@media screen {
    .disclosureClient {
        z-index: 9000 ;
        position: relative ;
    }

    .disclosureHidden {
        overflow-anchor: none ;
    }

    .wrapperHidden {
        position: absolute ;
    }

    .wrapperHidden {
        /* Clip to a maximum size to use less memory */
        max-block-size: calc(17 * var(--line)) ;
    }

    .wrapperHidden {
        opacity: 0 ;
    }

    .contentHidden {
        transform: translateY(-100%) scaleY(0) ;
    }

    .disclosureWillChange {
        will-change: visibility ;
    }
    .wrapperWillChange {
        will-change: opacity ;
    }
    .contentWillChange {
        will-change: transform ;
    }

    .disclosureClient, .wrapperOpen, .contentOpen {
        transition-timing-function: ease-out;
    }
    .disclosureHidden, .wrapperHidden, .contentHidden {
        transition-timing-function: ease-in;
    }

    .wrapperClient {
        transition-property: opacity ;
    }

    @media (prefers-reduced-motion: no-preference) {
        .contentClient {
            transition-property: transform ;
        }
    }

    .wrapperOpen, .contentOpen {
        transition-duration: 0.2s ;
    }
    .wrapperHidden, .contentHidden {
        transition-duration: 0.2s ;
    }

    .disclosureHiddenSteady {
        transition: unset ;
        visibility: hidden ;
    }

    .disclosureOpen {
        visibility: visible ;
    }
}
