.list {
    all: unset;
}
.item {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
}

.grabberIcon {
    user-select: none;
    font-size: 2.9em;
    margin-inline: 0.2em;
}
