.heading {
    break-inside: avoid ;
    break-after: avoid ;
    color: var(--emphasis-text);
    margin-block: 0 ;
    font: inherit ;
    font-weight: inherit ;
    font-size: inherit ;
    font-style: inherit ;
    font-variant-numeric: proportional-nums lining-nums ;
    border-radius: 0.01ch ;
}

h1.heading {
    font-size: 1.953125rem ;
}

h2.heading {
    font-size: 1.25rem ;
}

.heading {
    outline-color: var(--highlight-text) ;
    outline-offset: 0.26em ;
    outline-width: 0.05ch ;
}

.heading:focus {
    outline-style: solid ;
}
.heading:focus-visible {
    outline-width: 0.1ch ;
}

.heading {
    display: flow-root ;
    contain: layout style ;
}
