.heading, .heading1, .heading2 {
    display: flow-root ;
    contain: layout style ;
    break-inside: avoid ;
    break-after: avoid ;
    color: var(--emphasis-text);
    margin-block: 0 ;
    font: inherit ;
    font-weight: inherit ;
    font-size: inherit ;
    font-style: inherit ;
    font-variant-numeric: proportional-nums lining-nums ;
    border-radius: 0.001ch ;
}

.heading1 {
    font-size: 1.5625rem ;
}

.heading2 {
    font-size: 1.25rem ;
}

.heading, .heading1, .heading2 {
    outline-color: currentcolor ;
    outline-offset: 0.26em ;
    outline-width: 2px ;
}

.heading:focus, .heading1:focus, .heading2:focus {
    outline-style: dashed ;
}
.heading:focus-visible, .heading1:focus-visible, .heading2:focus-visible {
    outline-style: solid ;
    outline-color: var(--highlight-text) ;
    outline-width: 0.1ch ;
}
