@media screen {
    .layout {
        padding-block: var(--line) calc(3 * var(--line)) ;
        margin-block: calc(1.5 * var(--t)) ;
    }

    .inlineLayout {
        margin-inline: calc(7 * var(--t)) ;
    }
}

.header, .footer, .mainbar, .sidebar {
    box-sizing: border-box ;
    max-inline-size: 100% ;
}

@media print {
    .inlineLayout {
        padding-block: 1.5in ;
        padding-inline: 1.5in 0 ;
    }
}

.layout, .inlineLayout {
    position: relative ;

    box-decoration-break: clone ;

    widows: 2 ;
    orphans: 2 ;
}

.layout {
    isolation: isolate ;
    contain: paint style ;
}

.footer {
    display: flex ;
    justify-content: center ;
}

@media print {
    .header, .footer {
        display: none ;
    }
}

/* FIXME consider fadeout over time???? */
/* would have to review WCAG guidelines on fading */
.header {
    display: flow-root ;
    inline-size: fit-content ;
    max-inline-size: 100% ;
    z-index: 9000 ;
    padding-inline: 0.7em ;
    margin-inline-start: calc(0.2 * var(--t))  ;
}
.header:focus-within {
    position: sticky ;
    inset-block-start: 0 ;
    padding-block: calc(0.3 * var(--line) ) ;
    margin-block: calc(-0.3 * var(--line) ) ;
    background: var(--canvas);
    opacity: 90% ;
    border-end-start-radius: 0.8ch ;
    border-end-end-radius: 0.8ch ;
}


.inlineLayout {
    max-inline-size: calc(1.8 * var(--main-width));
}

.mainbar {
    flex-basis: var(--main-width) ;
}
.sidebar {
    flex-basis: calc(0.7 * var(--measure)) ;
}
.mainbar {
    flex-grow: 3 ;
    flex-shrink: 2 ;
}
.sidebar {
    flex-grow: 2 ;
    flex-shrink: 3 ;
}

/* Place main page above footer */
/* .page { */
/*     z-index: 1000 ; */
/* } */
/* Place main compositing layers above the sidebar */
.mainbar {
    z-index: 1000 ;
}

/* .page { */
/*      background: linear-gradient(grey, Canvas); */
/*      background-size: 100% var(--line) ; */
/* } */
