{%- if page.categories.size > 0 -%}
<nav id="breadcrumbs" aria-labelledby="breadcrumbs-title">
  <header>
    <hgroup>
      <h2 id="breadcrumbs-title">Breadcrumbs</h2>
    </hgroup>
  </header>
  {%- assign categories = page.categories | sort -%}
  {%- for category in categories -%}
  <ol start="1" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">{{- -}}
      <a rel="tag" href="{% link search.html %}?category={{ category | cgi_escape }}" itemprop="item">
        {{- -}}
        <span itemprop="name">{{- category | escape -}}</span>{{- -}}
        <meta itemprop="position" content="1">{{- -}}
      </a>{{- -}}
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">{{- -}}
      <span aria-current="page" itemprop="name">
        {{- page.title | escape -}}
      </span>{{- -}}
      <meta itemprop="position" content="2">{{- -}}
    </li>
  </ol>
  {%- endfor -%}
</nav>
{%- endif -%}
