@font-face {
    font-family: 'Atkinson Hyperlegible';
    font-weight: normal;
    font-style: normal ;
    font-display: swap;
    src: url('/assets/vend/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible' ;
    font-weight: normal;
    font-style: italic;
    font-display: swap;
    src: url('/assets/vend/Atkinson_Hyperlegible/AtkinsonHyperlegible-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible' ;
    font-style: normal ;
    font-weight: bold;
    font-display: swap;
    src: url('/assets/vend/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100 800;
    font-display: swap;
    font-style: normal ;
    src: url('/assets/vend/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    /* Atkinson x 10.5833px */
    /* JetBrains x 11.7333px */
    size-adjust: 90.1988357921% ;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
    src: url('/assets/vend/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    size-adjust: 90.1988357921% ;
}
@font-face {
    font-family: 'Noto Sans';
    font-weight: normal;
    font-style: normal ;
    font-display: swap;
    src: url('/assets/vend/Noto_Sans/NotoSans-Regular.ttf') format('truetype');
    /* Atkinson x 10.5833px */
    /* Noto Sans x 11.4333px */
    /* size-adjust: 92.5655759929% ; */
    /* not sure why but I needed an extra adjustment down */
    size-adjust: 89% ;
}
