<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- if page.title -%}
<title>{{- page.title -}}&thinsp;—&thinsp;{{- site.title -}}</title>
{%- else -%}
<title>{{- site.title -}}</title>
{%- endif -%}
<link rel="stylesheet" href="{% link assets/main.scss %}">
<link rel="icon" href="{% link assets/favicon.svg %}">
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#6000A0">
<link type="application/atom+xml" rel="alternate" href="{% link feed.xml %}" title="{{ site.title }}" >

{%- if page.previous.url -%}
<link href="{{page.previous.url}}" title="{{ page.previous.title | escape }}" rel="next">
{%- endif -%}
{%- if page.next.url -%}
<link href="{{page.next.url}}" title="{{ page.next.title | escape }}" rel="prev">
{%- endif -%}
