{%- assign icon = "/assets/favicon.svg" | relative_url -%}
{%- assign css = "/assets/main.css" | relative_url -%}
{%- assign feed = "/feed.xml" | relative_url -%}
{%- assign site_title = site.title -%}
{%- assign title = page.title | default: site_title -%}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{- title -}}&thinsp;—&thinsp;{{- site_title -}}</title>
  <link rel="icon" href="{% link assets/favicon.svg %}">
  <link rel="stylesheet" href="{{ css }}">
  <link type="application/atom+xml" rel="alternate" href="{{ feed }}" title="{{ site_title }}" >
  {%- if page.previous.url -%}
  <link href="{{page.previous.url}}" title="{{ page.previous.title | escape }}" rel="next">
  {%- endif -%}
  {%- if page.next.url -%}
  <link href="{{page.next.url}}" title="{{ page.next.title | escape }}" rel="prev">
  {%- endif -%}
  {% include seo.html -%}
</head>
