<main aria-describedby="title" itemprop="text"
      {% if page.date -%}data-pagefind-body{%- endif -%}>
  <header>
    <hgroup>
      <h1
        {% if page.url == '/search/' %}is="search-h1"{% endif %}
        id="title" itemprop="name headline title">{{- page.title | escape -}}</h1>
      {%- if page.subtitle -%}
      <p itemprop="subheading">{{- page.subtitle | escape -}}</p>
      {%- endif -%}
    </hgroup>
  </header>

  {%- if page.tags.size > 0 -%}
  {%- include tags.html -%}
  {%- endif -%}

  {{- content -}}
</main>
