{%- assign author = site.data.author[include.author] -%}
<footer id="metadata" aria-labelledby="metadata-title">
  <hgroup class="sr-only">
    <h2 id="metadata-title">{{ site.data.strings.metadata.title | escape }}</h2>
  </hgroup>

  <div>
    {{- site.data.strings.metadata.postDate | escape -}}
    &emsp;<time datetime="{{ page.date | date_to_xmlschema }}"
                data-pagefind-meta="date" data-pagefind-sort="date">
      {{- page.date | date: "%Y-%m-%d" -}}
    </time>
  </div>

  <address>
    <a rel="author"
       href="{{ author.url | relative_url }}"
       aria-describedby="author">
      {{- site.data.strings.metadata.author | escape }}
      &emsp;<span aria-hidden="true"
                  id="author">@<span translate="no">
          {{- author.name | escape -}}
        </span>
      </span>
    </a>
  </address>
</footer>
