{%- assign date_format = "%Y-%m-%d" -%}
{%- if page.collection == 'posts' -%}
<footer aria-describedby="metadata-title">
  <hgroup>
    <h2 id="metadata-title">Metadata</h2>
  </hgroup>
  <dl>
    <dt itemprop="creator author" itemscope itemtype="https://schema.org/Person">
      {{- -}}
      <a aria-describedby="author" rel="author" href="{{ page.author.url | relative_url }}" itemprop="url">Author</a>
      {{- -}}
    </dt>
    <dd id="author">@<span role="presentation" translate="no" itemprop="name">{{- page.author.name | escape -}}</span></dd>
    <dt>Posted</dt>
    <dd>
      {{- -}}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished pubdate">
        {{- page.date | date: date_format -}}
      </time>
      {{- -}}
    </dd>
    {%- if page.categories.size > 0 -%}
    <dt>Category</dt>
    {%- for category in page.categories -%}
    <dd itemprop="articleSection">
      {{- -}}
      <a rel="tag" href="{% link search.html %}?category={{ category | cgi_escape }}"
         itemid="{% link search.html %}?category={{ category | cgi_escape }}"
         itemscope
         itemtype="https://schema.org/SearchResultsPage">
        {{- category | escape -}}
      </a>
      {{- -}}
    </dd>
    {%- endfor -%}
    {%- endif -%}

    {%- if page.tags.size > 0 -%}
    <dt>Tag</dt>
    {%- for tag in page.tags -%}
    <dd>
      {{- -}}
      <a rel="tag" href="{% link search.html %}?tag={{ tag | cgi_escape }}">
        {{- -}}
        #<span role="presentation" itemprop="keywords">{{- tag | escape -}}</span>
      {{- -}}
      </a>
      {{- -}}
    </dd>
    {%- endfor -%}
    {%- endif -%}
  </dl>
</footer>
{%- endif -%}
