{%- assign pages = site.html_pages | where: "sitemap", nil | sort: "title" -%}
<nav id="pages" aria-labelledby="pages-title">
  <header>
    <hgroup>
      <h2 id="pages-title">{{- site.data.strings.pages.title | escape -}}</h2>
    </hgroup>
  </header>
  <ul>
    {%- for page in pages %}
    {%- if page.url == '/' -%}
    {%- continue -%}
    {%- endif -%}
    <li
      itemprop="hasPart"
      itemscope
      itemtype="http://schema.org/WebPage"
      itemid="{{ page.url | absolute_url }}">
      <a itemprop="url" href="{{ page.url | relative_url }}">
        <span itemprop="name headline">{{- page.title | default: page.url | escape -}}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>
