{%- if page.previous.url or page.next.url -%}
<nav aria-labelledby="paging">
  <header>
    <hgroup>
      <h2 id="paging">Paging</h2>
    </hgroup>
  </header>
  <div class="paging">
    {%- if page.previous.url -%}
    <a href="{{page.previous.url}}" rel="previous">
      <dl>
        <dt>Previous</dt>
        <dd>
          <cite>{{page.previous.title | escape}}</cite>
        </dd>
      </dl>
    </a>
    {%- endif -%}
    {%- if page.next.url -%}
    <a href="{{page.next.url}}" rel="next">
      <dl>
        <dt>Next</dt>
        <dd>
          <cite>{{page.next.title | escape}}</cite>
        </dd>
      </dl>
    </a>
    {%- endif -%}
  </div>

  {%- assign site_title = site.title -%}
  {%- assign title = page.title | default: site_title -%}
  <ol reversed itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
        ><a rel="bookmark" href="{{ page.url }}" itemprop="item"
            ><span itemprop="name">#</span
                                      ><meta itemprop="position" content="3"
                                             ></a
                                                ></li>
    {%- if page.categories.size > 0 -%}
    {%- assign categories = page.categories | sort -%}
    {%- assign category = categories | first -%}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
        ><a rel="tag" href="{% link search.html %}?category={{ category | cgi_escape }}" itemprop="item"
            ><span itemprop="name">{{- category | escape
          -}}</span><meta itemprop="position" content="2"
                          ></a
                             ></li>
    {%- endif -%}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"
        ><a translate="no" href="{% link index.html %}" itemprop="item"
            ><span itemprop="name">~</span
                                      ><meta itemprop="position" content="1"></a
                                                                               ></li>
  </ol>
</nav>
{%- endif -%}
