{%- capture title -%}
{{- site.data.strings.paging.title | escape -}}
{%- endcapture -%}
<nav id="paging" aria-labelledby="paging-title">
  {%- include subheader.html id='paging-title' title=title -%}

  <dl>
    {%- if include.previous.url -%}
    <div>
      <dd>{{- -}}
        <a href="{{include.previous.url}}" rel="next">
          {{- site.data.strings.paging.previous | escape -}}
        </a>{{- -}}
      </dd>
      <dt><cite>{{ include.previous.title | escape -}}</cite></dt>
    </div>
    {%- endif -%}

    {%- if include.next.url -%}
    <div>
      <dd>{{- -}}
        <a href="{{include.next.url}}" rel="prev">
          {{- site.data.strings.paging.next | escape -}}
        </a>{{- -}}
      </dd>
      <dt><cite>{{ include.next.title | escape -}}</cite></dt>
    </div>
    {%- endif -%}
  </dl>
</nav>
