{%- if page.previous.url or page.next.url -%}
<nav aria-labelledby="paging">
  <header>
    <hgroup>
      <h2 id="paging"><a href="#paging">Paging</a></h2>
    </hgroup>
  </header>
  <div class="paging">
    {%- if page.previous.url -%}
    <a href="{{page.previous.url}}" rel="previous">
      <dl>
        <dt>Previous</dt>
        <dd>
          <cite>{{page.previous.title | escape}}</cite>
        </dd>
      </dl>
    </a>
    {%- endif -%}
    {%- if page.next.url -%}
    <a href="{{page.next.url}}" rel="next">
      <dl>
        <dt>Next</dt>
        <dd>
          <cite>{{page.next.title | escape}}</cite>
        </dd>
      </dl>
    </a>
    {%- endif -%}
  </div>
</nav>
{%- endif -%}
