{%- if site.posts.size > 0 -%}
<nav id="posts" aria-labelledby="posts-title">
  <header>
    <hgroup>
      <h2 id="posts-title">{{ site.data.strings.posts.title | escape }}</h2>
    </hgroup>
  </header>
  <ol reversed>
    {%- for post in site.posts %}
    <li>
      <ins
        datetime="{{ post.date | date_to_xmlschema }}"
        itemprop="hasPart blogPost"
        itemscope
        itemtype="http://schema.org/BlogPosting"
        itemid="{{ post.url | absolute_url }}">
        <a itemprop="url" href="{{ post.url | relative_url }}">
          <span itemprop="name headline">
            {{- post.title | escape -}}
          </span>
        </a>
      </ins>
    </li>
    {%- endfor -%}
  </ol>
</nav>
{%- endif -%}
