<template id="search-h1">
  <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
  <span id="query" aria-live="polite"></span>
  <span>
    <slot>
    </slot>
  </span>
</template>

<template id="search-result">
  <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
  <style>
    :host {
        display: contents ;
    }
    .top {
        display: flex ;
        flex-wrap: wrap ;
        column-gap: 1em ;
        justify-content: space-between ;
    }
    .breadcrumb {
        width: fit-content ;
        flex-shrink: 1 ;
    }
    summary {
        list-style: detail ;
    }
    details[open] summary {
        list-style: opendetail ;
    }
    summary {
        list-style-position: outside ;
    }
  </style>
  <details>
    <summary>
      <div class="top">
        <ol class="breadcrumb">
          <li><slot name="category"><a>Prose</a></slot></li>
          <li><slot name="title"><a>Title</a></slot></li>
        </ol>
        <slot name="date"><time>20YY-MM-DD</time></slot>
      </div>
    </summary>
    <div class="tag-bag">
      <slot name="tag"></slot>
    </div>
    <div>
      <slot></slot>
    </div>
  </details>
</template>
