<template id="search-h1">
  <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
  <span id="query" aria-live="polite"></span>
  <span>
    <slot>
    </slot>
  </span>
</template>

<template id="search-result">
  <link rel="stylesheet" href="{{ "assets/main.css" | relative_url }}">
  <style>
    :host {
        display: block ;
    }
  </style>
  <ol class="breadcrumb">
    <li><slot name="category"><a>Prose</a></slot></li>
    <li><slot name="title"><a>Title</a></slot></li>
  </ol>
  <dl>
    <div>
      <dt>{{ site.data.strings.search.postDate }}</dt>
      <dd>
        <slot name="date"><time>20YY-MM-DD</time></slot>
      </dd>
    </div>
    <div>
      <dt>{{ site.data.strings.search.tag }}</dt>
      <slot name="tag"></slot>
    </div>
  </dl>
  <details>
    <summary>Snippet</summary>
    <slot></slot>
  </details>
</template>
