{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}

<form id="search" name="search" rel="search" role="search" action="{% link search.html %}">
  <fieldset class="search-basic">
    <input id="search-input" aria-labelledby="search-button" name="s" type="search" >
    <button id="search-button" type="submit">{{ site.data.strings.search.submit | escape }}</button>
  </fieldset>

  <fieldset id="category">
    <legend>Category</legend>
    {%- for category in categories %}
    <input id="category-{{ category[0] | cgi_escape }}" type="checkbox" name="category"
           value="{{ category[0] | cgi_escape }}">
    <label for="category-{{ category[0] | cgi_escape }}">{{ category[0] | escape }}</label>
    {%- endfor -%}
  </fieldset>

  <fieldset id="tag" tabindex="0">
    <legend>Tag</legend>
    {%- for tag in tags %}
    <input id="tag-{{ tag[0] | cgi_escape }}" type="checkbox" name="tag"
           value="{{ tag[0] | cgi_escape }}">
    <label for="tag-{{ tag[0] | cgi_escape }}">#{{ tag[0] | escape }}</label>
    {%- endfor -%}
  </fieldset>
</form>
