<script>
(() => {
    'use strict';

    const htmlname = 'loadhtml';

    async function html(url) {
        const req = new XMLHttpRequest();
        const promise = new Promise(r => {
            req.addEventListener("load", () => {
                r(req.responseXML);
            });
        });
        req.open("GET", url);
        req.responseType = "document";
        req.send();
        return await promise;
    };

    window[htmlname] = html;

    function shim(src) {
        src = JSON.stringify(src);
        return `export default await ${htmlname}(${src});`;
    }
    const htmls = ['/assets/results.html', '/assets/h1.html'];
    const imports = {};
    for (const html of htmls) {
        imports[html] = URL.createObjectURL(new Blob([shim(html)], { type: 'text/javascript' }));
    }

    const im = document.createElement('script');
    im.type = 'importmap';
    im.textContent = JSON.stringify({ imports });
    document.currentScript.after(im);
})();
</script>

<script>
window.esmsInitOptions = { polyfillEnable: ['css-modules', 'json-modules'] }
</script>

<script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>

<link type="modulepreload" href="/assets/pagefind/pagefind.js">
<link type="preload" href="/assets/pagefind/wasm.en-ca.pagefind" as="fetch" crossorigin>

<script type="module" defer async
        src="{% link assets/search.mjs %}"></script>
