{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}

<form id="search" rel="search" role="search" aria-describedby="search-title" name="search-form" method="get"
      action="{% link search.html %}">
  <header>
    <hgroup>
      <h2 id="search-title">{{ site.data.strings.search.title | escape }}</h2>
    </hgroup>
  </header>

  <label for="category">{{ site.data.strings.search.category | escape }}</label>
  <select id="category" name="category" multiple="multiple" size="2">
    {%- for category in categories -%}
    {%- assign cat = category[0] | escape -%}
    <option value="{{ cat }}">{{- cat -}}</option>
    {%- endfor -%}
  </select>

  <label for="tag">{{ site.data.strings.search.tag | escape }}</label>
  <select id="tag" name="tag" multiple="multiple" size="5">
    {%- for tag in tags -%}
    {%- assign tg = tag[0] | escape -%}
    <option value="{{ tg }}">{{- tg -}}</option>
    {%- endfor -%}
  </select>

  <menu>
    <li><button type="submit">{{ site.data.strings.search.submit | escape }}</button></li>
    <li><button type="reset">{{ site.data.strings.search.reset | escape }}</button></li>
  </menu>
</form>
