{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}
<form aria-describedby="title"
      id="search" rel="search" role="search" name="search-form" method="get"
      action="{% link search.html %}">
  <label for="category">Category</label>
  <select id="category" name="category" multiple="multiple" size="2">
    {%- for category in categories -%}
    {%- assign cat = category[0] | escape -%}
    <option value="{{ cat }}">{{- cat -}}</option>
    {%- endfor -%}
  </select>

  <label for="tag">Tag</label>
  <select id="tag" name="tag" multiple="multiple" size="5">
    {%- for tag in tags -%}
    {%- assign tg = tag[0] | escape -%}
    <option value="{{ tg }}">{{- tg -}}</option>
    {%- endfor -%}
  </select>

  <menu>
    <li><button type="submit">Search</button></li>
    <li><button type="reset">Reset</button></li>
  </menu>

  <output id="search-output" aria-live="polite" aria-busy="true">
  </output>
</form>
