<div id="sidebar">
  {%- if page.url == '/' -%}
  {%- include banner.html -%}
  {%- endif -%}

  {%- if page.url == '/search/' -%}
  {%- include search.html -%}
  {%- endif -%}

  {%- if page.previous.url or page.next.url -%}
  {%- include paging.html -%}
  {%- endif -%}

  {%- if page.date -%}
  {%- include metadata.html -%}
  {%- endif -%}

  {%- if page.tags.size > 0 -%}
  {%- include tags.html -%}
  {%- endif -%}

  {%- include breadcrumbs.html -%}

  {%- if page.date -%}
  {%- include related.html -%}
  {%- endif -%}
</div>
