<ul class="sidebar" role="presentation">
  {%- if page.url == '/' -%}
  <li role="presentation">{%- include banner.html -%}</li>
  {%- endif -%}

  {%- if page.url == '/search/' -%}
  <li role="presentation">{%- include search.html -%}</li>
  {%- endif -%}

  {%- if page.previous.url or page.next.url -%}
  <li role="presentation">{%- include paging.html previous=page.previous next=page.next -%}</li>
  {%- endif -%}

  <li role="presentation">{%- include breadcrumbs.html -%}</li>

  {%- if page.date -%}
  <li role="presentation">{%- include metadata.html author=page.author -%}</li>
  {%- endif -%}

  {%- if false -%}
  <li role="presentation">{%- include related.html -%}</li>
  {%- endif -%}
</ul>
