<footer id="tags" aria-labelledby="tags-title">
  <hgroup class="sr-only">
    <h2 id="tags-title">{{ site.data.strings.tags.title | escape }}</h2>
  </hgroup>
  <div class="sr-only">
    <a href="#tags-skip">Skip Tags</a>
  </div>
  <div>
  {%- for tag in page.tags %}
    <a aria-describedby="tag-text"
       rel="tag" href="{% link search.html %}?tag={{ tag | cgi_escape }}">
      {{- -}}
      #<span role="presentation"
             itemprop="keywords"
             data-pagefind-filter="tag">{{- tag | escape -}}</span>
      {{- -}}
    </a>
  {%- endfor -%}
  </div>
  <span id="tags-skip"></span>
</footer>
