<footer aria-labelledby="tags-title" id="tags">
  <div class="sr-only" id="tags-title">Tags</div>
  <ul class="tags">
    {%- for tag in page.tags -%}
    <li>{{- -}}
      <a rel="tag" href="{% link search.html %}?tag={{ tag | cgi_escape }}">{{- -}}
        #<span data-pagefind-filter="tag">{{- tag | escape -}}</span>
        {{- -}}
      </a>{{- -}}
    </li>
    {%- endfor -%}
    {%- for c in page.characters -%}
    <li>{{- -}}
      <a rel="tag" href="{% link search.html %}?character={{ c | cgi_escape }}">{{- -}}
        #<span data-pagefind-filter="character">{{- c | escape -}}</span>
        {{- -}}
      </a>{{- -}}
    </li>
    {%- endfor -%}
    {%- for c in page.places -%}
    <li>{{- -}}
      <a rel="tag" href="{% link search.html %}?tag={{ c | cgi_escape }}">{{- -}}
        #<span data-pagefind-filter="tag">{{- c | escape -}}</span>
        {{- -}}
      </a>{{- -}}
    </li>
    {%- endfor -%}
  </ul>
</footer>
