.details {
    font-size: 1rem ;
    font-weight: normal ;
}

@media print {
    .details {
        display: none ;
    }
}

.insideHeading {
    inline-size: fit-content ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;
}

.open, .close {
    min-inline-size: 6ch ;
    display: list-item ;
    list-style-position: inside ;
}

.open {
    list-style-type: disclosure-open;
}
.close {
    list-style-type: disclosure-closed;
}
