.a {
    /* more legible hyperlinks */
    text-underline-position: under ;
    border-radius: 0.01ch ;
    box-decoration-break: clone ;

    outline-color: var(--highlight-text) ;
    outline-width: 0.1rem ;
    outline-offset: 0.18em ;
}

.a:focus {
    outline-style: solid ;
}
.a:focus-visible {
    outline-width: 0.18rem ;
}

.a:link {
    color: var(--link-text);
}
.a:visited {
    color: var(--visited-text) ;
}
.a:any-link:active {
    color: var(--active-text) ;
    transition: color 0.05s ;
}

@media print {
    .a {
        text-decoration: inherit ;
    }

    /* Hide bookmark links? */
    .a[rel~="bookmark"] {
        display: none ;
    }

    .a:not([href^="/"]):not([href^="#"])::after {
        content: "\2003" attr(href) ;
        white-space: nowrap ;
    }
}
