---
layout: page
title: Search
permalink: /search/
---
{%- assign date_id_format = "%Y-%m-%d" -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}
<script defer async src="{{ "/assets/search.js" | relative_url }}"></script>

<form rel="search" role="search" name="post-filter" method="get">
  <fieldset>
    <label for="category">
      <span class="label">Category:</span>
      <span style="display:block">
        <select id="category" name="category" multiple="multiple" size="2">
          {% for category in categories %}
          {% assign cat = category[0] | escape %}
          <option value="{{ cat }}">{{ cat }}</option>
          {% endfor %}
        </select>
      </span>
    </label>
  </fieldset>

  <fieldset>
    <label for="tag">
      <span class="label">Tag:</span>
      <span style="display:block">
        <select id="tag" name="tag" multiple="multiple" size="5">
          {% for tag in tags %}
          {% assign tg = tag[0] | escape %}
          <option value="{{ tg }}">{{ tg }}</option>
          {% endfor %}
        </select>
      </span>
    </label>
  </fieldset>

  <span style="display:block; text-align:center">
    <button>Search</button>
  </span>
</form>

{%- for post in site.posts -%}
<article
  data-category="{{ post.categories | join: " " | escape }}"
  data-tag="{{ post.tags | join: " " | escape }}"
  itemprop="blogPost"
  itemscope
  itemtype="http://schema.org/BlogPosting"
  itemid="{{ post.url | absolute_url }}">
  <header>
    <a itemprop="url" class="post-link" href="{{ post.url | relative_url }}">
      <h3 itemprop="name headline">{{ post.title | escape }}</h3>
    </a>
  </header>

  <ul class="metadata">
    <li>
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: date_format }}
      </time>
    </li>
    {%- for category in post.categories -%}
    <li itemprop="keywords">{{ category | escape }}</li>
    {%- endfor -%}
    {%- for tag in post.tags -%}
    <li itemprop="keywords">{{ tag | escape }}</li>
    {%- endfor -%}
  </ul>
</article>
{%- endfor -%}
