.skipLink {
    display: block ;
    white-space: nowrap ;

    inset-block-start: 1em;
    margin-block-start: 1em ;

    background-color: var(--canvas);
    box-sizing: border-box ;

    padding-block: 0.4em ;
    padding-inline: 0.5em ;

    inline-size: fit-content ;

    z-index: 9000 ;
}

.skipLink:focus {
    position: sticky ;
}

@media print {
    .skipLink {
        display: none ;
    }
}
