.legend:not(:focus-within):not(:focus):not(:active) {
    position: absolute ;
    white-space: nowrap ;
    position: absolute ;
    left: -10000px ;
    top: auto ;
    width: 1px ;
    height: 1px ;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px) ;
    overflow: hidden ;
}

.inner {
    font-weight: bold ;
}
