.insideHeading {
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1em ;
}

.wrapper {
    display: block ;
    position: relative ;
}

.wrapper[inert] {
    block-size: 0 ;
}

.content[hidden] {
    position: absolute ;
    display: block ;
    translate: 0 -1.5em ;
    opacity: 0 ;
    block-size: 10em ;
    overflow: hidden ;
}

.content {
    top: 0 ;
    transition-property: opacity ;
    transition-duration: 0.5s ;
}

.content[hidden] {
    transition-duration: 0.3s ;
}

@media (prefers-reduced-motion: no-preference) {
    .content {
        transition-property: opacity, translate ;
    }
}

.details {
    display: flex ;
    font-size: 1rem ;
    column-gap: 0.5em ;
    justify-items: center ;
    align-items: center ;
}

.closed, .open {
    display: list-item ;
    list-style-position: inside ;
}
.closed {
    list-style-type: disclosure-closed;
}
.open {
    list-style-type: disclosure-open;
}
