.insideHeading {
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;
}

.wrapper {
    display: block ;
    position: relative ;
}

@media screen {
    .wrapper[inert] {
        block-size: 0 ;
    }

    .content[hidden] {
        display: block ;

        position: absolute ;
        translate: 0 -1.5em ;
        opacity: 0 ;
    }
}

.button {
    font-size: 1rem ;

    display: contents ;
}
@media print {
    .button {
        display: none ;
    }
    .content[hidden] {
        display: block ;
    }
}

.content {
    top: 0 ;
    transition-property: opacity ;
}

.content {
    transition-duration: 0.5s ;
}

.content[hidden] {
    transition-duration: 0.3s ;
}


.content[data-server] {
    transition-duration: 0s !important ;
}

@media (prefers-reduced-motion: no-preference) {
    .content {
        transition-property: opacity, translate ;
    }
}

.details {
    display: flex ;
    font-size: 1rem ;
    column-gap: 0.1em ;
    justify-items: center ;
    align-items: center ;
}
