.dl, .div, .dt, .dd {
    all: unset;
}

.div, .dt, .dd {
    display: block;
}

.dl {
    display: flow-root;
    contain: layout style;
}

.div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
}

.dt, .dd {
    position: relative;
}

.dd {
    padding-inline: 1em;
    margin-inline: -1em;
}
