.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.checklist {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.unchecked {
    all: unset;
    display: flow-root;
    inline-size: 100%;
}
.checked {
    all: unset;
    display: list-item;
    list-style-position: inside;
}
.checked::marker {
    content: "✓ ";
}


::deep .controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: center;
}

::deep .controls > li {
    display: block;
}

::deep .todo-title {
    min-inline-size: 10em;
}
::deep .todo {
    all:unset;
    display: flex;
    column-gap: 0.5em;
    align-items: end;
}
::deep .todo > li {
    display: block;
}

::deep .input {
    all: unset;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.5em;
    border-width: 2px;
    border-block-end-style: solid;
}
::deep .input:focus {
    outline-style: solid;
    outline-width: 1px;
}

::deep .edit {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
}
