.details {
    display: flex ;
    font-size: 1rem ;
    column-gap: 0.1em ;
    justify-items: center ;
    align-items: center ;
}

.button {
    font-size: 1rem ;
    min-inline-size: 9ch ;
}
@media print {
    .button {
        display: none ;
    }
}

.insideHeading {
    inline-size: fit-content ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;
}

.disclosure, .wrapper, .content {
    /* inline-size: fit-content ; */
    display: flow-root ;
    contain: layout style ;
}

.disclosure {
    position: relative ;
}

.wrapper {
    contain: layout paint style ;
    overflow: hidden ;
}

.content {
    transition-property: opacity ;
}

@media screen {
    .wrapperInert {
        position: absolute ;
    }

    .contentHidden {
        transform: translateY(-1.5em) ;
        opacity: 0 ;
    }
}

.content {
    transition-duration: 0.5s ;
}

.contentHidden {
    transition-duration: 0.3s ;
}


@media (prefers-reduced-motion: no-preference) {
    .content {
        transition-property: opacity, transform ;
    }
}
