.details {
    font-size: 1rem ;
    font-weight: normal ;
}

.button {
    display: inline-block ;
    min-inline-size: 5ch ;
}
@media print {
    .details {
        display: none ;
    }
}

.insideHeading {
    inline-size: fit-content ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;
}
