.row {
    display: flex ;
    row-gap: var(--line) ;
    column-gap: 1em ;
    contain: layout style ;
    flex-wrap: wrap ;
}
.row > * {
    flex-basis: 40% ;
    flex-shrink: 1 ;
    flex-grow: 1 ;
}
