.set, .item {
    margin: 0;
    padding: 0;
}

.set {
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.25em ;
}

.item {
    display: block ;
    padding: 0;
    margin: 0;
    position: relative ;
    padding-inline: 0.75em ;
}
