/* The implicit root scroller.
 */
@media screen {
    .scroller {
        position: fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        contain: layout style paint size;
        overflow: auto;
    }
}

.scroller {
    background-color: Canvas;
    background-color: var(--canvas);
}
