{%- capture title -%}
{{- page.title | escape -}}
{%- endcapture -%}

{%- capture subtitle -%}
{{- page.subtitle | escape -}}
{%- endcapture -%}

{%- capture body -%}
<ul class="nav" role="presentation">
  <li role="presentation">
    {%- comment -%}
    FIXME reconsider whether to conditionally include a skip link
    {%- endcomment -%}

    {%- if page.notice.size > 0 -%}
    {%- include notice.html -%}
    {%- endif -%}

    {%- include main.html title=title subtitle=subtitle content=content -%}
  </li>
  <li role="presentation">{%- include sidebar.html -%}</li>
</ul>
{%- endcapture -%}
{%- include document.html content=body -%}
