{%- capture maintype -%}
{%- if page.collection == 'posts' -%}
https://schema.org/BlogPosting
{%- elsif page.name == 'index.html' -%}
https://schema.org/Blog
{%- else -%}
https://schema.org/WebContent
{%- endif -%}
{%- endcapture -%}

{%- capture pagetype -%}
{%- if page.name == 'about.html' -%}
https://schema.org/AboutPage
{%- elsif page.name == 'search.html' -%}
https://schema.org/SearchResultsPage
{%- elsif page.collection == 'posts' -%}
https://schema.org/ItemPage
{%- else -%}
https://schema.org/WebPage
{%- endif -%}
{%- endcapture -%}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      itemscope
      itemtype="{{ pagetype }}"
      itemid="{{ page.url | absolute_url }}">
  {%- include head.html -%}
  <body itemscope
        itemprop="mainEntity hasPart"
        itemtype="{{ maintype }}"
        itemid="{{ page.url | absolute_url }}"
        {% if page.url == '/search/' %}is="search-body"{% endif %}>

    <header>
      <hgroup>
        <h1
          {% if page.url == '/search/' %}is="search-h1"{% endif %}
          id="title" itemprop="name headline title">{{- page.title | escape -}}</h1>
        {%- if page.subtitle -%}
        <p itemprop="subheading">{{- page.subtitle | escape -}}</p>
        {%- endif -%}
      </hgroup>
    </header>

    {%- include toc.html -%}

    {%- include main.html -%}

    {%- include sidebar.html -%}
  </body>
</html>
