---
layout: page
---
{{- content -}}

<section aria-labelledby="pages">
  <h2 id="pages"><a href="#pages">Pages</a></h2>
  <ul>
    <li><a href="{% link about.html %}" rel="author me">About the Author: @{{ site.author.name | default: site.author | escape }}</a></li>
    <li><a href="{% link search.html %}" rel="search">Search</a></li>
    <li><a href="{{ "/feed.xml" | relative_url }}" rel="alternate">RSS Feed</a></li>
  </ul>
</section>
{%- if site.posts.size > 0 -%}
<section aria-labelledby="posts">
  <h2 id="posts">
    <a href="#posts">Posts</a>
  </h2>

  <ol reversed>
    {%- for post in site.posts -%}
    <li
      itemprop="hasPart blogPost"
      itemscope
      itemtype="http://schema.org/BlogPosting"
      itemid="{{ post.url | absolute_url }}">
      <a itemprop="url" href="{{ post.url | relative_url }}">
        <span itemprop="name headline">{{- post.title | escape -}}</span>
      </a>
    </li>
    {%- endfor -%}
  </ol>
</section>
{%- endif -%}
