<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      itemtype="https://schema.org/WebPage" itemscope>
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <nav itemtype="http://schema.org/Blog" itemscope>
      {%- include nav.html -%}
    </nav>
    <div itemprop="text">
      <header>
        <h1 itemprop="name headline">
          <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
            {{ page.title | escape }}
          </a>
        </h1>
      </header>
      <main itemprop="mainEntity">
        {{ content }}
      </main>
    </div>
  </body>
</html>
