<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      itemtype="https://schema.org/WebPage" itemscope>
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
        itemprop="mainEntity hasPart"
        itemtype="https://schema.org/BlogPosting"
        itemid="{{ page.url | absolute_url }}">
    <header>
      {%- include nav.html -%}
    </header>
    <h1 class="poem" itemprop="name headline">
      <a id="content" rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
        {{ page.title | escape }}
      </a>
    </h1>

    <main class="poem" itemprop="articleBody">
      <div>
        {{ content }}
      </div>
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>

    <aside>
      {%- include metadata.html -%}
    </aside>
  </body>
</html>
