<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      itemtype="https://schema.org/WebPage" itemscope>
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
        itemprop="mainEntity hasPart"
        itemtype="https://schema.org/BlogPosting"
        itemid="{{ page.url | absolute_url }}">
    <nav>
      {%- include nav.html -%}
    </nav>
    <header>
      <h1 id="header" itemprop="name headline">
        <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
          {{ page.title | escape }}
        </a>
      </h1>
    </header>
    <main aria-labelledby="header" itemprop="articleBody">
      <div>
        {{ content }}
      </div>
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>
    <aside aria-labelledby="metadata">
      <h2 id="metadata" ><a href="#metadata">Metadata</a></h2>
      {%- include metadata.html -%}
    </aside>
  </body>
</html>
