<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemprop="mainEntity" itemtype="http://schema.org/Blog" itemscope>
    <nav>
      {%- include nav.html -%}
    </nav>
    <header style="text-align:center">
      <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
        <h1>{{ page.title | escape }}</h1>
      </a>
    </header>

    <div style="text-align:center"
         itemscope
         itemprop="blogPost"
         itemtype="https://schema.org/BlogPosting"
         itemid="{{ page.url | absolute_url }}">

      <div style="display:inline-block">
        <main aria-label="Content" itemprop="articleBody">
          {{ content }}
        </main>

        <footer>
          {%- include metadata.html -%}
        </footer>
      </div>
    </div>
    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
