<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
         itemprop="blogPost"
         itemtype="https://schema.org/BlogPosting"
         itemid="{{ page.url | absolute_url }}">
    <nav itemprop="mainEntityOf" itemtype="http://schema.org/Blog" itemscope>
      {%- include nav.html -%}
    </nav>
    <main>
      {{ content }}
    </main>
    <footer aria-label="pagination">
      {%- include footer.html -%}
    </footer>
  </body>
</html>
