<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemprop="mainEntity" itemtype="http://schema.org/Blog" itemscope>
    <nav>
      {%- include nav.html -%}
    </nav>
    <div itemscope
         itemprop="blogPost"
         itemtype="https://schema.org/BlogPosting"
         itemid="{{ page.url | absolute_url }}">
      {{ content }}
    </div>
    <footer>
      {%- include footer.html -%}
    </footer>
  </body>
</html>
