<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
        itemprop="hasPart mainEntity"
        itemtype="https://schema.org/BlogPosting"
        itemid="{{ page.url | absolute_url }}">
    <nav>
      {%- include nav.html -%}
    </nav>
    <header>
      <h1 id="header" itemprop="name headline">
        <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
          {{ page.title | escape }}
        </a>
      </h1>
    </header>
    <main aria-labelledby="header" itemprop="articleBody">
      {{ content }}
    </main>
    <footer>
      {%- include footer.html -%}
    </footer>
    <aside>
      {%- include metadata.html -%}
    </aside>
  </body>
</html>
