<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
        itemprop="hasPart mainEntity"
        itemtype="https://schema.org/Blog">
    <nav>
      {%- include nav.html -%}
    </nav>

    <div itemscope
         itemprop="blogPost hasPart"
         itemtype="https://schema.org/BlogPosting"
         itemid="{{ page.url | absolute_url }}">
      <div itemprop="text">
        <header>
          <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
          </a>
          {%- include metadata.html -%}
        </header>

        <main aria-label="Content" itemprop="articleBody">
          {{ content }}
        </main>

      </div>
    </div>
    <footer aria-label="pagination">
      {%- include footer.html -%}
    </footer>
  </body>
</html>
