<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include head.html -%}
  </head>
  <body itemscope
        itemprop="hasPart mainEntity"
        itemtype="https://schema.org/BlogPosting"
        itemid="{{ page.url | absolute_url }}">
    <header>
      {%- include header.html -%}
    </header>
    <h1 id="title" itemprop="name headline">
      <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
        {{ page.title | escape }}
      </a>
    </h1>
    <main aria-labelledby="title" itemprop="articleBody">
      {{ content }}
    </main>
    {%- include nav.html -%}
    {%- include metadata.html -%}
  </body>
</html>
