---
layout: body
---
{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}

<form id="search" name="search" rel="search" action="{% link search.html %}">
  <ul class="nav" role="presentation">
    <li>
      <main id="main"
            aria-describedby="title"
            {% if page.date -%}data-pagefind-body{%- endif %}>
        <header>
          <hgroup>
            <h1 id="title">
              <search-h1>
                {{- page.title | escape -}}
              </search-h1>
            </h1>
            {%- if page.subtitle -%}
            <p>{{- page.subtitle | escape -}}</p>
            {%- endif -%}
          </hgroup>
        </header>

        <div>
          {{- content -}}
        </div>

        <search-results>
        </search-results>
      </main>
    </li>
    <li>{%- include sidebar.html -%}</li>
  </ul>
</form>
