.select {
    border: unset ;
    margin: unset ;
    display: block ;
    font: inherit ;

    border-radius: 0.01ch ;

    border-inline-start-style: dashed ;
    border-width: 0.1em ;

    padding-inline-start: 1em;
    margin-block: var(--line) ;

    display: flex;
    flex-direction: column ;
}

.option {
    display: flex ;
    column-gap: 1em ;
}

/* FIXME should form controls be tabular or just lining? */
.select, .option {
    font-variant-numeric: lining-nums tabular-nums;
}


.optionLabel {
    border: unset ;
    margin: unset ;
    display: block ;
    font: inherit ;

    box-sizing: border-box ;
    block-size: var(--line) ;

    border-radius: 0.1ch ;
    border-width: calc(max(1px, 0.07em));
}
