.dialog {
    border-width: 0.1em;
    border-style: solid;
    border-radius: 1ch ;
    background-color: var(--canvas);
    color: var(--canvas-text);
}

.header {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
    column-gap: 1em ;
}

.dialog::backdrop {
    background-color: black ;
    opacity: 80%;
}
