.open, .close {
    min-inline-size: 6ch ;
    display: list-item ;
    list-style-position: inside ;
}

.open {
    list-style-type: disclosure-open;
}
.close {
    list-style-type: disclosure-closed;
}
