.editForm {
    display: flex;
    flex-direction: column;
}

.entryForm {
    display: flex;
    flex-direction: column;
}
.options {
    display: flex;
}

.editButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.editButton {
    all: unset;

    background: Canvas;

    margin-block: 0.3em;
    margin-inline: 0.4em;

    border-color: CanvasText;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;

    padding-inline: 0.3em;
    padding-block: 0.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}
.editButton[aria-expanded="true"] {
    background: lightgrey;
}
.editButton[disabled] {
    background: lightgrey;
    border-color: grey;
    color: #333;
}
.editButtonIcon {
    user-select: none;
    font-size: 1.3em;
    inline-size: 1.1em;
    block-size: 1.1em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.editButton:focus {
    outline-width: 2px;
    outline-style: solid;
}


.editFormWrapper {
    display: flex;
}


.editableTitle {
    display: flex;
}

.titleAndInput {
    position: relative;
}
.title, .titleAndInput {
    display: flex;
    align-items: center;
}

.title {
    min-inline-size: 8em;
    anchor-name: --title;
}

.inputWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    max-inline-size: 100%;
}

.menuWrapper {
    position: relative;
}
.editMenu {
    position: absolute;
    z-index: 1000;
}
