.button {
    order: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.editFormWrapper {
    display: flex;
}

.editForm {
    display: flex;
    flex-direction: column;
}

.entry {
    position: relative;
    display: flex;
}

.title {
    min-inline-size: 8em;
}
.title:hover {
    background:grey;
}

.editMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
