.list {
    all: unset;
    display: flex;
    flex-direction: column;
}

.item {
    all: unset;
    display: flex;
    margin-block: 0.5em;
}

.tick {
    display: block;
    font-size: 1.5em;
    margin-inline: 0.6em 0.7em;
}
