.page {
    display: flex ;
    justify-content: start ;

    flex-wrap: wrap ;
    row-gap: var(--line);
    column-gap: 1em ;
}

.page {
    box-sizing: border-box;
    inline-size: calc(1em + 2 * var(--main-width)) ;
    max-inline-size: 100% ;

}

.mainbar {
    flex-basis: var(--main-width) ;
    flex-grow: 3 ;
    flex-shrink: 2 ;
}
.sidebar {
    flex-basis: calc(0.66 * var(--measure)) ;
    flex-grow: 2 ;
    flex-shrink: 3 ;
}

.page, .sidebar, .mainbar {
    contain: layout style ;
}

/* Place main page above footer */
.page {
    z-index: 1000 ;
}
/* Place main compositing layers above the sidebar */
.mainbar {
    z-index: 1000 ;
}

/* .page { */
/*      background: linear-gradient(grey, Canvas); */
/*      background-size: 100% var(--line) ; */
/* } */
