---
---

$text-color:       black ;
$background-color: white ;
$brand-color:      #60a ;

$grey-color:       #657 ;
$grey-color-light: lighten($grey-color, 40%) ;
$grey-color-dark:  darken($grey-color, 25%) ;

@import "{{ site.theme }}";

$brand-color-light: lighten($brand-color, 54%) ;

// Hide select arrow
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand { display: none ; }

// Reset
select {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

// Style select
option {
    background: transparent ;
    border-width: 1px ;
}
option {
    border-style: dashed none none none ;
}
option:first-child {
    border-style: none ;
}
option:checked {
    background: #F0F0FF ;
    background: $brand-color-light ;
}
select {
    margin-top: 2px ;
    margin-bottom: 5px ;
    border-style: solid ;
    text-align: center ;
    min-width: 9em ;
}

select { border-width: 1px ; padding: 3px ; }
select:focus { border-width: 2px ; padding: 2px }

fieldset {
    display: inline-block ;
    border: none ;
}

.label {
    display: inline-block ;
    margin-bottom: 8px ;
}

.site-header, .site-footer { border: initial ; }
// .site-header { text-transform: lowercase ; }

.site-header { min-height: 30px ; }
.site-header .wrapper div { position: relative ; }

.site-nav {
    position:absolute;
    top: 1.5em ;
    right: 0.2em ;
    background-color: white;
    border: 1px solid $grey-color-light;
}
.site-nav {
    min-width: 5em ;
    min-height: 3em ;
    text-align: left ;
    line-height: initial ;
    border-style: solid;
    border-width: 1px;
    border-radius:2px;
    padding: 5px;
}

.site-nav > menu {
    padding: 0;
    margin: 0 ;
    list-style-type: none ;
}
.nav-details {
    float: right ;
}
.nav-details > summary {
    display: block ;
    border-color: $grey-color ;
    border-style: solid ;
    border-width: 1px ;
    border-radius: 1px;
    margin: 2px ;
    padding: 2px 4px 2px 4px ;
}

.nav-details[open] > summary {
    background-color: white ;
}
.nav-details[open] > summary {
    background-color: $grey-color-light ;
}
.page-content { padding: 0 ; }
.page-content { flex: initial ; }
.home {
    text-align: center ;
    padding-bottom: 2em ;
    margin-bottom: 2em ;
    border-style: none none solid none ;
    border-width: 1px ;
}

.post-list-heading { text-align: center }

.post-filter { margin-top: 10px ; margin-bottom: 10px ; }

.post-content { margin-bottom: 0 ; }
.post-nav { margin-top: 30px ; }

.prev { float: left }
.next { float: right }

.poem .post-content { display: inline-block ; }

.post-meta { text-align: left ; }
.p-author::before { content: "• " ; }
.poem .p-author::before { content: none ; }

.stanzas, .stanza {
    // deformat ordered lists
    margin: 0 ;
    list-style-type: none ;
}

// center poems
.poem { text-align: center ; }

.stanzas {
    display: inline-block ;
    text-align: left ;
}

.stanza {
    // Tab indent hanging lines
    text-indent: -4em ;
    padding-left: 4em ;
}

.stanza { margin-bottom: 15px ; }

hr {
    text-align: center ;
    border: none ;
}
hr::before {
    content: "***" ;
    color: $grey-color ;
}

.metadata {
    margin: 0;
    padding: 0;
    list-style-type: none ;
    color: $grey-color ;
    font-size: 14px ;
    display: flex ;
    gap: 0.2em ;
}

.metadata > li::before {
    content: "• " ;
}
.metadata > li:first-child::before {
    content: none ;
}
