---
---

@import "{{ site.theme }}";

// Hide select arrow
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand { display: none ; }

// Reset
select {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

// Style select
select {
    border-style: solid ;
    text-align: center ;
}

select { border-width: 1px ; padding: 3px ; }
select:focus { border-width: 2px ; padding: 2px }

.site-header, .site-footer, .site-nav { border: initial ; }
.site-header { text-transform: lowercase ; }

.site-header { min-height: 30px ; }
.site-header .wrapper div { position: relative ; }

.site-nav { text-align: left ; }

.page-content { padding: 0 ; }

.post-link, .post-title { font-variant: small-caps ; }

.post-list-heading, .footer-heading { display: none ; }

.post-filter { margin-top: 10px ; margin-bottom: 10px ; }

.post-content { margin-bottom: 0 ; }
.post-nav { margin-top: 30px ; }

.prev { float: left }
.next { float: right }

.poem .post-content { display: inline-block ; }

.post-meta { text-align: left ; }
.p-author::before { content: "• " ; }
.poem .p-author::before { content: none ; }

.stanzas, .stanza {
    // deformat ordered lists
    margin: 0 ;
    list-style-type: none ;
}

// center poems
.poem { text-align: center ; }

.stanzas {
    display: inline-block ;
    text-align: left ;
}

.stanza {
    // Tab indent hanging lines
    text-indent: -4em ;
    padding-left: 4em ;
}

.stanza { margin-bottom: 15px ; }

hr {
    text-align: center ;
    border: none ;
}
hr::before {
    content: "***" ;
    color: #828282 ;
}
