---
---

@import "{{ site.theme }}";

.site-header { border-bottom: initial ; }
.site-footer { border-top: initial ; }
.site-header { text-transform: lowercase ; }
.post-link, .post-title { text-transform: uppercase ; }
.post-list-heading, .footer-heading , .contact-list .p-name { display: none ; }
