::selection {
    background-color: var(--selected-item);
    color: var(--selected-item-text);
}

:focus-visible {
    outline-color: var(--highlight-text) ;
}

:link { color: var(--link-text) ; }
:visited { color: var(--visited-text) ; }
:any-link:active { color: var(--active-text) ; }

mark {
    background-color: var(--mark);
    color: var(--mark-text);
}

h1,h2,h3,h4,h5,h6, figcaption, ::marker {
    color: var(--emphasis-text);
}

:root {
    color-scheme: light dark ;

    background-color: var(--canvas) ;
    color: var(--canvas-text) ;

    accent-color: var(--accent-color) ;

    /* Make the caret seeable with caret browsing?  Need to figure out */
    /* a better UX here/experiment on different platforms */
    caret-color: var(--highlight-text) ;
}

p {
    margin-block: var(--line-height) ;
    inline-size: var(--paragraph-width) ;
    max-inline-size: 100% ;
}

:any-link { border-radius: 0.01ch ; }

:any-link:active {
    transition: color 0.05s ;
}

pre {
    margin: 0;
}

/* FIXME should form controls be tabular or just lining? */
time, code, pre,
table, ::marker,
select, option, button, input {
    font-variant-numeric: lining-nums tabular-nums;
}

sub, sup { vertical-align: inherit ; }

sub { font-variant-position: sub ; }
sup { font-variant-position: super ; }

abbr {
    text-decoration: unset ;
    font-variant-caps: all-small-caps ;
}
address {
    font-style: unset ;
}
cite {
    font-style: unset ;
    font-variant-caps: small-caps ;
}

table { border-collapse: collapse ; }

hr {
    height: unset ;
    border: unset ;
    margin-block: var(--line-height) ;
}

h1,h2,h3,h4,h5,h6 {
    margin: unset ;
    font-size: inherit ;
    font-style: normal ;
}

hgroup {
    max-inline-size: 100% ;
    margin: unset ;
}

hgroup {
    font-style: italic;
}

blockquote {
    margin-block: var(--line-height) ;
}


@counter-style nodot {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "\2003";
}
@counter-style bullet {
  system: cyclic;
  symbols: "\2043";
  suffix: "\2003";
}

menu, ul, ol {
    margin-block: var(--line-height) ;
    padding-inline-start: 2em ;
    list-style-type: bullet ;
}

ol {
    list-style-type: nodot ;
}

::marker {
    font-weight: bold ;
}

dl, dt, dd {
    margin: unset ;
}

figcaption {
    font-weight: bold ;

    position: sticky ;
    left: 0 ;
}
figure {
    margin-inline: 0 ;
    margin-block: var(--line-height) ;
    position: relative ;
    overflow: auto ;
}

h1,h2,h3,h4,h5,h6 {
    border-radius: 0.01ch ;
}

header,h1,h2,h3,h4,h5,h6 {
    font-variant-numeric: proportional-nums lining-nums ;
}

:focus-visible {
    outline-width: 0.18rem ;
    outline-offset: 0.23em ;
    outline-style: solid ;
}

:root {
    /* more legible hyperlinks */
    -webkit-text-underline-position: under ;
    text-underline-position: under ;
    font-family: sans-serif ;
    font-variant-numeric: proportional-nums oldstyle-nums ;
}

p {
    -moz-hyphens: auto ;
    -ms-hyphens: auto ;
    -webkit-hyphens: auto ;
    hyphens: auto ;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth ;
    }
}

:root {
    line-height: var(--line-height) ;
    font-size-adjust: var(--ex-height) ;
}


:root {
    -moz-text-size-adjust: none ;
    -webkit-text-size-adjust: none ;
    text-size-adjust: none ;
}

:root, body {
    margin: unset;
    padding: unset;
}

:root {
    display: flex ;
    justify-content: start ;
}

body {
    box-sizing: border-box ;
    inline-size: fit-content ;
    max-inline-size: 100% ;
}

main {
    display: block ;
    box-sizing: border-box ;
    inline-size: var(--main-width) ;
    max-inline-size: 100% ;
}

@media screen {
    :root {
        padding-block-end: calc(3 * var(--line-height)) ;
    }
    body {
        margin-block-start: var(--line-height) ;
    }
}



:root {
    /* default ratio on browsers is 1rem = 16px */
    --remperpx: calc(1rem / 16) ;

    --min-width: 320 ;
    --max-width: 2400 ;

    --min-font-size: 19 ;
    --max-font-size: 24 ;

    --delta-font-size: calc(var(--max-font-size) - var(--min-font-size)) ;
    --delta-width: calc(var(--max-width) - var(--min-width)) ;

    --inv-delta-width: calc(1 / var(--delta-width)) ;

    --t0: calc(0rem - var(--min-width) * var(--remperpx) * var(--inv-delta-width)) ;
    --font-size-0: var(--min-font-size) * var(--remperpx) ;
    --font-size-1: var(--max-font-size) * var(--remperpx) ;

    --t: clamp(0rem,
               var(--t0) + 100vw * var(--inv-delta-width),
               1rem);
    --font-size:
        clamp(var(--font-size-0),
              var(--font-size-0) + var(--t) * var(--delta-font-size),
              var(--font-size-1)) ;

    font-size: var(--font-size) ;
}
