:where(:not(ol):not(a):not(cite):not(ins):not(del):not(span)) {
    all: unset ;
}

p,
hr,
h1,h2,h2,h3,h4,h5,h6,
menu, ol, ul, li,
head, script, style,
pre, figure,
div,
hgroup,
header, nav, body, main, footer, aside, section, article {
    display: revert ;
}

:root {
    background: revert ;
    color: revert ;
}

pre {
    white-space: pre ;
}

:root {
    font-family: sans-serif ;
}

code, pre {
    font-family: monospace ;
}

:root {
    color-scheme: light dark ;
}
