
dl, dd, dt,
div,
hgroup,
header, nav, body, main, footer, aside, section, article,
form, button, input, fieldset, legend, input, label, select, option, output,
textarea {
    all: unset ;
    display: revert ;
}

// weirdness with link colors
cite,abbr,address {
    font-style: unset ;
}

:root {
    margin: unset ;
}

pre {
    margin: 0 ;
}

:focus-visible {
    outline: auto ;
}
