@media screen {
    :root { color-scheme: light dark ; }
}

// black/pink and dark green/yellow is most legible ?
// Ensuring color legibility, T. H. Nilsson
// https://files.upei.ca/arts/psychology/nilsson_color.pdf
:root {
    background: #fff3f7 ;
    color: #232640 ;
}
@media (prefers-color-scheme: dark) {
    :root {
        background: #182013 ;
        color: #d0cfb0 ;
    }
}

hr,h1,h2,h3,h4,h5,h6,figcaption, li::marker {
     color: #A02030 ;
}

@media (prefers-color-scheme: dark) {
    hr,h1,h2,h3,h4,h5,h6,figcaption, li::marker {
        color: #d07560 ;
    }
}
