fieldset, label, button, input, select, option {
    appearance: none ;
    margin: unset ;
    display: block ;
}

label, button, input, option {
    box-sizing: border-box ;
    block-size: $line ;
}

button, select, option {
    cursor: pointer ;
}

label, input, button {
    border-width: 0.08em;
}
input {
    border-block-end-style: solid ;
}

button {
    border-style: solid ;
    padding-inline: 0.5em ;
}

fieldset {
    border-inline-start-style: dashed ;
    border-width: 0.1em ;
    padding-inline-start: 1em;
    margin-block: $line ;

    display: flex;
    flex-direction: column ;
}

legend {
    font-weight: bold ;
}


button {
    align-self: start ;
}

label {
    font-weight: bold ;
    border-block-end-style: solid ;
    border-width: 0.1em ;
}

select {
    overflow: auto ;
    box-sizing: border-box ;
    min-block-size: $line ;
    max-block-size: 4 * $line ;
}

option {
    padding-inline-start: 1em ;
}

option:checked {
    font-weight: bold ;
}

input {
    background-color: var(--field);
    color: var(--field-text);
}

button {
    background-color: var(--button-face);
    color: var(--button-text);
    border-color: var(--button-border);
}

button:active {
    background-color: var(--button-text) ;
    color: var(--button-face) ;
}

option {
    background-color: var(--field);
    color: var(--field-text);
}
option:checked {
    background-color: var(--field-text);
    color: var(--field);
}

:is(button, select):focus-visible {
    outline-offset: 0;
    outline-width: 0.4em ;
}

button:focus-visible {
    outline-offset: 0;
    outline-width: 0.3em ;
}

select:focus-visible {
    outline-offset: 0;
    outline-width: 0.4em ;
}



.search-basic {
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
}
.search-basic input {
    flex-grow: 10 ;
    flex-shrink: 10 ;
}
.search-basic button {
    flex-shrink: 1 ;
}
