fieldset, label, button, input, select, option {
    all: unset ;
    display: block ;
}

label, button, input, option {
    box-sizing: border-box ;
    height: $line ;
}

button, select {
    cursor: pointer ;
}

label, input, button {
    border-width: 0.08em;
}
input {
    border-block-end-style: solid ;
}

button {
    border-style: solid ;
    padding-inline: 0.5em ;
}

@media (prefers-color-scheme: dark) {
    button:active {
        background: white ;
        color: black ;
    }
}

@media (prefers-color-scheme: light) {
    button:active {
        background: black ;
        color: white ;
    }
}

fieldset {
    border-inline-start-style: dashed ;
    border-width: 0.1em ;
    padding-inline-start: 1em;
    margin-block: $line ;

    display: flex;
    flex-direction: column ;
}

legend {
    all: unset ;
    font-weight: bold ;
}


button {
    align-self: start ;
}

label {
    border-block-end-style: solid ;
    border-width: 0.1em ;
}


select {
    box-sizing: border-box ;
    min-height: $line ;
    max-height: 10 * $line ;
}

option {
    padding-inline-start: 1em ;
}

option:checked {
    font-weight: bold ;
    background-color: var(--color);
    color: var(--background-color);
}

.search-basic {
    display: flex ;
    flex-direction: row ;
}
.search-basic input {
    flex-grow: 1 ;
    flex-shrink: 1 ;
}
