button, input {
    @include prefix(appearance, none);
    background-color: transparent;
    color: inherit ;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;

    border-color: currentcolor;
    border-style: none;
    border-width: 0.1em;
    box-sizing: border-box ;
    height: $line ;
}

input {
    border-block-end-style: solid ;
}

button {
    border-style: solid ;
    padding-inline: 0.5em ;
}

[role="search"] {
    display: flex ;
}
[role="search"] input {
    flex-grow: 1 ;
}


@media (prefers-color-scheme: dark) {
    button:active {
        background: white ;
        color: black ;
    }
}

@media (prefers-color-scheme: light) {
    button:active {
        background: black ;
        color: white ;
    }
}
