@media screen {
    #sidebar {
        flex-grow: 1 ;
        flex-shrinK: 1 ;

        display: flex ;
        flex-direction: column ;
        row-gap: $line ;
    }

    #paging {
        inline-size: $paragraph-width ;
        max-inline-size: 100% ;
    }
    #sidebar {
        inline-size: $side-width ;
        max-inline-size: 100% ;
    }
}
