@media screen {
    main, #sidebar {
        float: left ;
    }
    main {
        margin-block-end: $line ;
    }

    .clearer {
        clear: both ;
    }

    #sidebar > * {
        margin-block: $line ;
    }
    #sidebar > :first-child {
        margin-block-start: 0 ;
    }

    #paging {
        inline-size: $paragraph-width ;
        max-inline-size: 100% ;
    }
    #sidebar {
        inline-size: $side-width ;
        max-inline-size: 100% ;
    }
}
