@charset "utf-8";

// Noto Sans aspect ratio :(
$ex-height: 0.536 ;

$paragraph-width: 50.7ch ;
$main-width: 66.3ch ;
$side-width: 32.2ch ;

$min: (
    width: 320px,
    font-size: 19,
    scale: 4/3
) ;
$max: (
    width: 2400px,
    font-size: 28,
    scale: 3/2
) ;

$min-width: map-get($min, width) ;
$max-width: map-get($max, width) ;

$max-font-size: map-get($max, font-size) ;
$min-font-size: map-get($min, font-size) ;

$min-scale: map-get($min, scale) ;
$max-scale: map-get($max, scale) ;

@function pow($x, $n) {
    @if $n < 0 {
        $n: -$n ;
        $x: 1/$x ;
    }
    $p: 1 ;
    @for $i from 0 to $n {
        $p: $p * $x ;
    }
    @return $p ;
}

@function lerp($a, $b, $t) {
    // convert between 0 and 1 pixels to rem
    $c: 16 * (($b - $a) / 1rem);
    @return #{"clamp(" $a ", " $a " + " $c " * (" $t "), " $b ")"};
}

@function linstep($a, $b, $x) {
    $c: ($b - $a) / 1px ;
    @return #{"clamp(0px, ((" $x ") - " $a" ) / " $c ", 1px)"};
}

@function scale($n) {
    @return lerp(pow($min-scale, $n) * 1rem, pow($max-scale, $n) * 1rem,
             linstep($min-width, $max-width, 100vw));
}

// Compute legible line height in terms of rems
// https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
$lh: (1ex / 0.32) ;
$line: ($ex-height * $lh * 1rem) / 1ex ;

$A4-width: 8.3in ;
$A4-margin: 1.5in ;

@mixin prefix($property, $value) {
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

@mixin hyphens($value) {
    @include prefix(hyphens, $value);
}
@mixin text-size-adjust($value) {
    -moz-text-size-adjust: $value ;
    -webkit-text-size-adjust: $value ;
    text-size-adjust: $value ;
}
@mixin text-underline-position($value) {
    -webkit-text-underline-position: $value ;
    text-underline-position: $value ;
}

@mixin all-small-caps {
    font-variant-caps: all-small-caps ;
    letter-spacing: 0.07ch ;
}
@mixin small-caps {
    font-variant-caps: small-caps ;
    letter-spacing: 0.07ch ;
}
@mixin sr-only {
    :not(:focus-within) {
        position: absolute !important ;
        left: -10000px !important ;
        top: auto !important ;
        width: 1px !important ;
        height: 1px !important ;
        clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important ;
        overflow: hidden !important ;
    }
}

@import "_clear.scss";
@import "_base.scss";
@import "_layout.scss";
@import "_forms.scss";
@import "_decorate.scss";
@import "_poetry.scss";
@import "_theme.scss";
@import "_colors.scss";
@import "_print.scss";
@import "_syntax.scss";

// body {
//     background: linear-gradient(grey, Canvas);
//     background-size: 100% $line ;
// }
