// default ratio on browsers is 1rem = 16px
$remperpx: 1rem / 16px ;

$min-width: 320px * $remperpx ;

@function clamp($a, $t, $b) {
    @return #{"clamp(" $a ", " $t ", " $b ")"};
}

// $t is between 0 and 1 rem
@function lerp($a, $b, $t) {
    $A: $a / 1rem;
    $B: $b / 1rem;
    $C: $B - $A ;
    @return clamp($a,
                  $a " + " $C " * (" $t ")",
                  $b);
}
// outputs between 0 and 1 rem
@function linstep($a, $b, $x) {
    $A: $a / 1rem;
    $B: $b / 1rem;
    $c: 1/($B - $A) ;
    @return clamp(0rem,
                  #{"((" $x ") * " $c " - " $a * $c ")"},
                  1rem);
}

@media screen {
    body {
        padding-inline-start:
            lerp(0rem, 1.5rem,
                 linstep(320px * $remperpx, 700px * $remperpx,
                         100vw));
    }
}

main > :is(ul, ol) {
    padding-inline-start:
            lerp(0rem, 2rem,
                 #{"(1rem - " linstep(400px * $remperpx, 600px * $remperpx,
                                    100vw) ")"});
}
