#toc {
    width: 100% ;
}

main {
    flex-grow: 3 ;
    flex-shrinK: 3 ;
}

hgroup p {
    margin-block: 0 ;
}

main header {
    margin-block: $line ;
}

@media screen {
    #sidebar > * {
        margin-block: $line ;
    }
}

main > :is(ul, ol) {
    padding-inline-start:
            lerp(0rem, 2rem,
                 #{"(1rem - " linstep(400px * $remperpx, 600px * $remperpx,
                                    100vw) ")"});
}

main :is(header, figcaption) {
    display: flex ;
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
}
main :is(header, figcaption) > :first-child {
    flex-grow: 1 ;
}

.sr-only {
    @include sr-only ;
}

.breadcrumb {
    all: unset ;
    padding: 0 ;
    margin: 0;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
}
.breadcrumb li {
    all: unset ;
}

.breadcrumb li::before {
  display: inline-block;
  margin-right: 0.5em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
  color: var(--mark-text);
}

#paging dl {
    all: unset ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    justify-content: space-between ;
}

#paging dl > div {
    all: unset ;
    display: flex ;
    flex-direction: column ;
}
#paging dl > div {
    flex-grow: 1 ;
    flex-shrink: 1 ;
}

#paging dl > div.previous {
    justify-self: start ;
    align-items: start ;
}
#paging dl > div.next {
    justify-self: end ;
    align-items: end ;
    text-align: end ;
}

:is(#paging, #search, #related, #breadcrumbs) header,
#metadata hgroup {
    @include sr-only ;
}

@counter-style link {
  system: cyclic;
  symbols: "☞";
  suffix: "\2003";
}

:is(#toc, #tags) ul {
    all: unset ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1em ;
}
:is(#toc, #tags) li {
    all: unset ;
}

#toc {
    margin-block: $line ;
}

.snippet {
    max-block-size: 2 * $line;
    text-overflow: ellipses ;
    overflow: auto ;
}
