.sr-only {
    @include sr-only ;
}

[itemtype="https://schema.org/BreadcrumbList"] {
    all: unset ;
    padding: 0 ;
    margin: 0;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
}
[itemtype="https://schema.org/BreadcrumbList"] li {
    all: unset ;
}

[itemtype="https://schema.org/BreadcrumbList"] li::before {
  display: inline-block;
  margin-right: 0.5em;
  transform: rotate(15deg);
  border-right: 0.1em solid currentcolor;
  height: 0.8em;
  content: "";
}

#paging dl {
    all: unset ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    justify-content: space-between ;
}

#paging dl > div {
    all: unset ;
    display: flex ;
    flex-direction: column ;
}
#paging dl > div {
    flex-grow: 1 ;
    flex-shrink: 1 ;
}

#paging dl > div.previous {
    justify-self: start ;
    align-items: start ;
}
#paging dl > div.next {
    justify-self: end ;
    align-items: end ;
    text-align: end ;
}

:is(#paging, #search, #related, #breadcrumbs) header,
#metadata hgroup {
    @include sr-only ;
}
