#toc {
    width: 100% ;
}

hgroup p {
    margin-block: 0 ;
}


header {
    position: relative ;
}

.breadcrumb {
    all: unset ;
    padding: 0 ;
    margin: 0;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    inline-size: var(--paragraph-width) ;
    max-inline-size: 100% ;
}
.breadcrumb li {
    all: unset ;
}

.breadcrumb li::before {
    color: var(--emphasis-text);
}

.breadcrumb li::before {
  display: inline-block;
  margin-inline-end: 0.5em;
  transform: rotate(15deg);
  border-inline-end: 0.1em solid currentcolor;
  block-size: 0.8em;
  content: "";
}

.sr-only {
    position: absolute ;
    display: block ;
    z-index: 1000 ;
    background-color: var(--highlight) ;
    color: var(--highlight-text) ;
    border-radius: 0.6ch ;
    padding-inline: 1em ;
    padding-block: calc(0.5 * var(--line-height)) ;
}
.sr-only:not(:focus-within) {
    position: absolute !important ;
    left: -10000px !important ;
    top: auto !important ;
    width: 1px !important ;
    height: 1px !important ;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important ;
    overflow: hidden !important ;
}

ul.tags {
    all: unset ;
    display: flex ;
    margin-block-end: var(--line-height) ;
    flex-wrap: wrap ;
    column-gap: 1em ;
    inline-size: var(--paragraph-width) ;
    max-inline-size: 100% ;
}

:is(#toc) ul {
    all: unset ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1em ;
}
:is(#toc, .tags) li {
    all: unset ;
}

#toc {
    margin-block: var(--line-height) ;
}

.greentext > li {
    all: unset ;
    display: block ;
}
.greentext > li::before {
    display: inline-block ;
    margin-inline-end: 1ch;
    transform: rotate(-45deg) skew(14deg, 14deg);
    border-block-end: 0.2ch solid currentcolor;
    border-inline-end: 0.2ch solid currentcolor;
    block-size: 1ex;
    inline-size: 1ex;
    content: "";
}


.greentext {
    all: unset ;
}
.greentext {
    color: var(--green-text) ;
}
.greentext {
    display: block ;
    list-style-position: inside ;
}

#notice {
    margin-block-end: var(--line-height) ;
}
