:root {
    --canvas: Canvas ;
    --canvas-text: CanvasText ;

    --gray-text: GrayText ;

    --selected-item: SelectedItem ;
    --selected-item-text: SelectedItemText ;

    --highlight: Highlight ;
    --highlight-text: HighlightText ;

    --mark: Mark ;
    --mark-text: MarkText ;

    --link-text: LinkText ;
    --visited-text: VisitedText ;
    --active-text: ActiveText ;

    --accent-color: AccentColor ;
    --accent-color-text: AccentColorText ;

    --button-border: ButtonBorder ;
    --button-face: ButtonFace ;
    --button-text: ButtonText ;

    --field: Field ;
    --field-text: FieldText ;

    --emphasis-text: #A02030 ;
}

// black/pink and dark green/yellow is most legible ?
// Ensuring color legibility, T. H. Nilsson
// https://files.upei.ca/arts/psychology/nilsson_color.pdf

@media screen and (forced-colors: none) {
    :root {
        --canvas: #fff3f7 ;
        --canvas-text: #232640 ;

        --gray-text: gray ;

        --mark: yellow ;
        --mark-text: black ;

        --selected-item: #304070 ;
        --selected-item-text: white ;

        // Ripped from
        // https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3
        --link-text:  #0000EE ;
        --visited-text: #551A8B ;
        --active-text: #FF0000 ;

        --highlight: #008030 ;
        --highlight-text: black ;

        --field: white ;
        --field-text: black ;

        --button-face: white ;
        --button-text: black ;
        --button-border: black ;
    }
}

@media (prefers-color-scheme: dark) and (forced-colors: none) {
    :root {
        --canvas: #182013 ;
        --canvas-text: #d0cfb0 ;

        --gray-text: gray ;

        --mark: #A08000 ;
        --mark-text: white ;

        --emphasis-text: #d07560 ;

        --selected-item: #20E0FF ;
        --selected-item-text: black ;

        --link-text:  #C0C0FF ;
        --visited-text: #F0A0FF ;
        --active-text: #FF3060 ;

        --highlight: #20FF00 ;
        --highlight-text: white ;

        --field: var(--canvas) ;
        --field-text: var(--canvas-text) ;

        --button-face: black ;
        --button-text: white ;
        --button-border: white ;
    }
}
