// Unfortunately lab/oklab and such aren't so supported yet. HSL is
// easier to make relatively consistent lightness but still not
// perceptually uniform.

:root {
    --canvas: Canvas ;
    --canvas-text: CanvasText ;

    --gray-text: GrayText ;

    --selected-item: SelectedItem ;
    --selected-item-text: SelectedItemText ;

    --highlight: Highlight ;
    --highlight-text: HighlightText ;

    --mark: Mark ;
    --mark-text: MarkText ;

    --link-text: LinkText ;
    --visited-text: VisitedText ;
    --active-text: ActiveText ;

    --accent-color: AccentColor ;
    --accent-color-text: AccentColorText ;

    --button-border: ButtonBorder ;
    --button-face: ButtonFace ;
    --button-text: ButtonText ;

    --field: Field ;
    --field-text: FieldText ;

    --emphasis-text: CanvasText ;
    --green-text: CanvasText ;
}

@media print {
    :root {
        --link-text: CanvasText ;
        --visited-text: CanvasText ;
        --active-text: CanvasText ;
    }
}

@media screen {
    :root {
        --emphasis-text: hsl(353deg 67% 38%);
        --green-text: hsl(120deg 100% 13%);
    }
}

// black/pink and dark green/yellow is most legible ?
// Ensuring color legibility, T. H. Nilsson
// https://files.upei.ca/arts/psychology/nilsson_color.pdf

@media screen and (forced-colors: none) {
    :root {
        --canvas: hsl(340deg 100% 98%);
        --canvas-text: hsl(234deg 29% 19%);

        --gray-text: grey ;

        --mark: yellow ;
        --mark-text: black ;

        --accent-color: hsl(160deg 100% 9%);
        --accent-color-text: white ;

        --selected-item: hsl(225deg 40% 31%);
        --selected-item-text: white ;

        // Ripped from
        // https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3
        --link-text: hsl(240deg 100% 47%);
        --visited-text: hsl(271deg 68% 32%);
        --active-text: hsl(0deg 100% 50%);

        --highlight: hsl(143deg 100% 25%);
        --highlight-text: black ;

        --field: white ;
        --field-text: black ;

        --button-face: white ;
        --button-text: black ;
        --button-border: black ;
    }
}

@media screen and (prefers-color-scheme: dark) and (forced-colors: none) {
    :root {
        --canvas: hsl(97deg 25% 10%);
        --canvas-text: hsl(58deg 25% 75%);

        --gray-text: gray ;

        --mark: hsl(48deg 100% 31%);
        --mark-text: white ;

        --emphasis-text: hsl(11deg 54% 60%);
        --green-text: hsl(90deg 100% 63%);

        --accent-color: hsl(88deg 100% 59%);
        --accent-color-text: black ;

        --selected-item: hsl(188deg 100% 56%);
        --selected-item-text: black ;

        --link-text: hsl(240deg 100% 88%);
        --visited-text: hsl(291deg 100% 81%);
        --active-text: hsl(346deg 100% 59%);

        --highlight: hsl(112deg 100% 50%);
        --highlight-text: white ;

        --field: hsl(97deg 25% 10%);
        --field-text: hsl(58deg 25% 75%);

        --button-face: black ;
        --button-text: white ;
        --button-border: white ;
    }
}
