.entryList {
}
.entryItem {
    display: flex;
}

.button {
    order: 1;
    display: flex;
    justify-content: end;
}

.entry {
    position: relative;
    display: flex;
}

.editMenu,.editInput {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.editInput {
    bottom: 0;
}

.editFieldset, .editLegend {
    all: unset;
}
.editFieldset {
    display: flex;
    max-inline-size: 100%;
}
.editLegend {
    display: none;
}


.editForm {
    display: flex;
    flex-direction: column;
}
.editFormWrapper {
    display: flex;
}

.title {
    min-inline-size: 8em;
}
