.overlap {
    display: grid ;
    grid-template-columns: 100% ;
    grid-template-rows: 100% ;
    justify-items: start;
    align-items: start;
    inline-size: fit-content ;
    max-inline-size: 100% ;
}

.frame {
    inline-size: fit-content ;
    max-inline-size: 100% ;
    grid-row-start: 1 ;
    grid-column-start: 1 ;
}

.frame {
    z-index: 1000 ;
}
