.frame {
    display: flow-root ;
    z-index: 1000 ;
}

.frame[inert] {
    z-index: -1000 ;
    position: absolute ;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden ;
}

.overlap {
    display: flow-root ;
}
