.figure {
    display: flow-root ;
    margin: 0;
    margin-block: var(--line) ;
    break-inside: avoid ;

    contain: layout style ;

    scroll-snap-align: start ;
    scroll-margin-block: calc(0.25 * var(--line)) ;
}

.figcaption {
    position: sticky ;
    inset-inline-start: 0;
    color: var(--emphasis-text);
}

.figure {
    outline-color: var(--highlight-text, HighlightText) ;
    outline-offset: 0.1em ;
    outline-width: 0.1em ;
}

.figure:focus {
    outline-style: solid ;
}

.pre {
    font-variant-numeric: lining-nums tabular-nums;
    display: flow-root ;
    margin: 0;
    padding: 0;
}

@media screen {
    .pre {
        overflow: auto ;
    }
}
