.figure {
    margin: 0 ;
    break-inside: avoid ;
}

.figcaption {
    position: sticky ;
    inset-inline-start: 0;
}
.title {
    color: var(--emphasis-text);
    font-weight: bold ;
}

@media screen {
    .figure {
        overflow: auto ;
    }
}

.figure {
    outline-color: var(--highlight-text, HighlightText) ;
    outline-offset: 0.1em ;
    outline-width: 0.1em ;
}

.figure:focus {
    outline-style: solid ;
}

@media print {
    .autolink {
        display: none ;
    }
}
