.query {
    display: block ;
    border: 0;
    padding: 0;
    margin: 0;
}

.queryContent {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex ;
    column-gap: 1em ;
    flex-wrap: wrap ;
    align-items: flex-start ;
}

.legend {
    position: absolute ;
    white-space: nowrap ;
    position: absolute ;
    left: -10000px ;
    top: auto ;
    width: 1px ;
    height: 1px ;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px) ;
    overflow: hidden ;
}
