/* TenApp/Pages/Index.razor.rz.scp.css */
.sr-only[b-47951k38dm] {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

.checklist[b-47951k38dm] {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.unchecked[b-47951k38dm] {
    all: unset;
    display: flow-root;
    inline-size: 100%;
}
.checked[b-47951k38dm] {
    all: unset;
    display: list-item;
    list-style-position: inside;
}
.checked[b-47951k38dm]::marker {
    content: "✓ ";
}


[b-47951k38dm] .controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: center;
}

[b-47951k38dm] .controls > li {
    display: block;
}

[b-47951k38dm] .todo-title {
    min-inline-size: 10em;
    display: inline-block;
}
[b-47951k38dm] .todo {
    all:unset;
    display: flex;
    column-gap: 0.5em;
    align-items: end;
}
[b-47951k38dm] .todo > li {
    display: block;
}

[b-47951k38dm] .input {
    all: unset;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.5em;
    border-width: 2px;
    border-block-end-style: solid;
}
[b-47951k38dm] .input:focus {
    outline-style: solid;
    outline-width: 1px;
}

[b-47951k38dm] .edit {
    display: flex;
    column-gap: 0.5em;
    align-items: center;
}
/* TenApp/Shared/Button.razor.rz.scp.css */
[b-te8k64j5ds] {
    display: flex;
    flex-direction: column;
    inline-size: fit-content;
    align-items: center;
}
[b-te8k64j5ds] .button {
    all: unset;
    padding-inline: 0.5em;
}

[b-te8k64j5ds] .label {
    font-size: 0.8rem;
}
[b-te8k64j5ds] .button:focus {
    outline-style: solid;
    outline-width: 2px;
}
/* TenApp/Shared/Disclosure.razor.rz.scp.css */
[b-o7polqf14d] {
    display: flow-root;
}

[b-o7polqf14d] .summary {
    display: flex;
    flex-direction: column;
    column-gap: 0.25rem;
    inline-size: fit-content;
    align-items: center;
}

[b-o7polqf14d] button {
    all: unset;
    display: flow-root;
    padding-inline: 0.5em;
}

[b-o7polqf14d] label {
    font-size: 0.8rem;
}
[b-o7polqf14d] button:focus {
    outline-style: solid;
    outline-width: 2px;
}

[b-o7polqf14d] .menu {
    all: unset;
    position: relative;
    inline-size: 100%;
    display: flow-root;
}
[b-o7polqf14d] .content {
    display: flow-root;
    position: absolute;
    background: Canvas;
    inset-block-start: 0;
    inset-inline-start: 0;
    border-style: solid;
    border-width: 1px;
    padding-inline: 0.5em;
}
/* TenApp/Shared/MainLayout.razor.rz.scp.css */
.page[b-bs9xgykyal] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bs9xgykyal] {
    flex: 1;
}

.sidebar[b-bs9xgykyal] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-bs9xgykyal] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bs9xgykyal]  a, .top-row .btn-link[b-bs9xgykyal] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-bs9xgykyal] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bs9xgykyal] {
        display: none;
    }

    .top-row.auth[b-bs9xgykyal] {
        justify-content: space-between;
    }

    .top-row a[b-bs9xgykyal], .top-row .btn-link[b-bs9xgykyal] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bs9xgykyal] {
        flex-direction: row;
    }

    .sidebar[b-bs9xgykyal] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bs9xgykyal] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-bs9xgykyal], article[b-bs9xgykyal] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
