::deep {
    display: flow-root;
}

::deep .summary {
    display: flex;
    flex-direction: column;
    column-gap: 0.25rem;
    inline-size: fit-content;
    align-items: center;
}

::deep button {
    all: unset;
    display: flow-root;
    padding-inline: 0.5em;
}

::deep label {
    font-size: 0.8rem;
}
::deep button:focus {
    outline-style: solid;
    outline-width: 2px;
}

::deep .menu {
    all: unset;
    position: relative;
    inline-size: 100%;
    display: flow-root;
}
::deep .content {
    display: flow-root;
    position: absolute;
    background: Canvas;
    inset-block-start: 0;
    inset-inline-start: 0;
    border-style: solid;
    border-width: 1px;
    padding-inline: 0.5em;
}
