::deep {
    display: flex;
    gap: 0.5em;
    inline-size: fit-content;
    align-items: end;
}

::deep .input {
    all: unset;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.5em;
    border-width: 2px;
    border-block-end-style: solid;
}
::deep .input:focus {
    outline-style: solid;
    outline-width: 1px;
}

::deep .controls {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: start;
    align-items: center;
}

::deep .controls > li {
    display: block;
}

