<div class="todo">
  <div class="typical">
    <InputText class="input" @bind-Value="@Model.Title" />
    <div>
      <!-- FIXME make disclosure widget -->
      <div class="wrap">
        <button class="button" type="button" id="@id-details">
          <span aria-hidden="true">▶</span>
        </button>
        <label class="label" for="@id-details">Details</label>
      </div>

      <div class="menu">
        <ul class="controls">
          <li>
            <div class="wrap">
              <button class="button" type="button" id="@id-archive" tabindex="-1"
                      @onkeydown="Archive">
                <span aria-hidden="true">✓</span>
              </button>
              <label class="label" for="@id-archive">Archive</label>
            </div>
          </li>
          <li>
            <div class="wrap">
              <button class="button" type="button" id="@id-foo" tabindex="-1">
                <span aria-hidden="true">✓</span>
              </button>
              <label class="label" for="@id-foo">Foo</label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public TodoModel? Model { get; set; }

  [Parameter]
  public EventCallback<EventArgs>? OnArchive { get; set; }

  private readonly Guid id = Guid.NewGuid();

  private void Archive(EventArgs args)
  {
  }
}
