<div class="todo">
  <InputText class="input" @bind-Value="@Model.Title" />
  <Disclosure>
    <Summary>
      Details
    </Summary>
    <ChildContent>
      <ul class="controls">
        <li>
          <Button OnClick="@OnArchive">
            <Icon>✓</Icon>
            <ChildContent>
              Archive
            </ChildContent>
          </Button>
        </li>
        <li>
          <Button>
            <Icon>✓</Icon>
            <ChildContent>
              Foo
            </ChildContent>
          </Button>
        </li>
      </ul>
    </ChildContent>
  </Disclosure>
</div>

@code {
  [Parameter]
  public TodoModel? Model { get; set; }

  [Parameter]
  public EventCallback OnArchive { get; set; }

  private readonly Guid id = Guid.NewGuid();

}
