::deep .typical {
    display: flex;
    gap: 0.5em;
    inline-size: fit-content;
    align-items: end;
}

::deep .input {
    all: unset;
    padding-inline-start: 0.25em;
    padding-inline-end: 0.5em;
    border-width: 2px;
    border-block-end-style: solid;
}
::deep .input:focus {
    outline-style: solid;
    outline-width: 1px;
}

::deep .wrap {
    display: flex;
    flex-direction: column;
    inline-size: fit-content;
    align-items: center;
}
::deep .button {
    all: unset;
    padding-inline: 0.5em;
}

::deep .label {
    font-size: 0.8rem;
}
::deep .button:focus {
    outline-style: solid;
    outline-width: 2px;
}

::deep .title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

::deep .menu {
    position: relative;
}
::deep .controls {
    background: Canvas;
    inset-block-start: 0;
    inset-inline-end: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: start;
}

.controls > li {
    display: block;
}

::deep .todo {
    inline-size: fit-content;
}
