.disclosure, .wrapper, .content {
    /* inline-size: fit-content ; */
    display: flow-root ;
    contain: layout style ;
}

.disclosure {
    position: relative ;
}

.wrapper {
    contain: layout paint style ;
    overflow: hidden ;
}

.content {
    transition-property: opacity ;
}

@media screen {
    .wrapperInert {
        position: absolute ;
    }

    .contentHidden {
        transform: translateY(-1.5em) ;
        opacity: 0 ;
    }
}

.contentWillChange {
    will-change: transform, opacity ;
}

.content {
    transition-duration: 0.5s ;
}

.contentHidden {
    transition-duration: 0.3s ;
}


@media (prefers-reduced-motion: no-preference) {
    .content {
        transition-property: opacity, transform ;
    }
}
