.wrapper {
    display: flow-root;
    z-index: 10000;
    position: relative;
}

.dialog {
    display: flow-root;
    position: absolute;
    margin: 0;
    padding: 0;
    inset-block-start: 0;
    border: none;
    background: transparent;
}

.inner {
    color: var(--canvas-text);
    background-color: var(--canvas);
    border-style: none;

    outline-style: solid;
    outline-width: 1px;
    border-radius: 0.1ch;
}

.close {
    opacity: 0%;
}

.preview {
    opacity: 95%;
}

.open {
    opacity: 100%;
}

.closeSteady {
    visibility: hidden;
    overflow: hidden;
    transform: translateX(-100%) translateY(-100%) scale(0, 0);
}

.inner {
    transition-property: opacity ;
    transition-duration: 0.1s ;
}
