@media (max-width: 130ch) {
    .sidebar {
        display: contents ;
    }
}

@media (min-width: 130ch) {
    .page {
        display: flex ;
    }
}

.page {
    box-sizing: border-box;
    max-inline-size: 100% ;

    flex-wrap: wrap ;
    column-gap: 1em ;
}

.mainbar {
    box-sizing: border-box;

    inline-size: var(--main-width) ;
    max-inline-size: 100% ;
}

/* .page { */
/*      background: linear-gradient(grey, Canvas); */
/*      background-size: 100% var(--line) ; */
/* } */

