.button {
    all: unset ;

    font-variant-numeric: lining-nums tabular-nums;

    background-color: var(--button-face);
    color: var(--button-text);
    border-color: var(--button-border);

    border-style: solid ;
    padding-inline: 0.5em ;

    box-sizing: border-box ;

    border-radius: 0.17ch ;
    border-width: calc(max(1px, 0.07em));
    margin-block: calc(min(-1px, -0.07em));

    outline-color: var(--highlight-text) ;
    outline-offset: 0.2em ;
    outline-width: 0.2ch ;
}

.button:focus {
    outline-style: solid ;
}
.button:focus-visible {
    outline-width: 0.2em ;
}

.button[aria-expanded="true"] {
    background-color: var(--button-text) ;
    color: var(--button-face) ;
}

.button:hover,
.button:focus-visible {
    border-color: var(--accent-color-text) ;
    background-color: var(--accent-color) ;
    color: var(--accent-color-text) ;
}

.button:active {
    background-color: var(--button-text) ;
    color: var(--button-face) ;
}

.button {
    transition: background-color 0.2s, color 0.2s ;
}
.button:active {
    transition: background-color 0.1s, color 0.1s ;
}
