.menubar, .list, .item {
    margin: 0;
    padding: 0;
}

.menubar {
    outline-width: 1px;
    outline-color: var(--highlight-text);
}

.menubar {
    border-radius: 0.01ch ;
    display: flow-root;
    /* FIXME i18n */
    overflow-x: auto;

    scroll-snap-type: inline mandatory;
    scroll-behavior: smooth;
}

.list {
    display: flex;
    inline-size: fit-content;
}

.item {
    position: relative;
    display: inline-block;

    scroll-snap-stop: always;
    scroll-snap-align: center;
}

.link {
    font: inherit ;
    text-underline-position: under ;
    box-decoration-break: clone ;
}

.link {
    border-radius: 0.01ch ;
    outline-color: var(--highlight-text);
    outline-width: 2px;
    outline-offset: 0.1em;
    outline-style: none;
}

.link:any-link {
    color: var(--link-text);
}
.link:visited {
    color: var(--visited-text);
}
.link:active {
    color: var(--active-text);
}

.item {
    white-space: nowrap;
    padding-inline: 0.5em;
}

.item:first-child {
    padding-inline-start: 0.42rem;
}
.item:last-child {
    padding-inline-end: 0;
}

.menubar {
    margin-inline-start:-0.42rem;
}


.link:focus {
    outline-style: solid;
}
.menubar:focus {
    outline-style: solid;
}
.select {
}
