.skipLink {
    display: flow-root ;

    inset-block-start: var(--line);
    inset-inline-start: 3em ;

    padding-inline: 1em ;
    padding-block: calc(0.5 * var(--line)) ;
    margin-block: calc(0.5 * var(--line)) ;

    background-color: var(--canvas);
    box-sizing: border-box ;

    border-radius: 0.7ch ;
    inline-size: fit-content ;
    inline-block: var(--line);

    contain: layout paint style ;

    z-index: 9000 ;
}

.skipLink {
    position: fixed ;
}
