.breadcrumblist {
    all: unset ;
    padding: 0 ;
    margin: 0;

    contain: content style ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;

    inline-size: fit-content ;
    max-inline-size: 100% ;
}

.breadcrumb {
    all: unset ;
}

.breadcrumb {
    display: list-item ;
}

@counter-style breadcrumb {
  system: cyclic;
  symbols: "/";
  suffix: "  ";
}

.breadcrumb {
    list-style: breadcrumb ;
    list-style-position: inside ;
}
.breadcrumb::marker {
    color: var(--emphasis-text);
    font-weight: bold ;
}
