@charset "utf-8";

::selection {
    background-color: var(--selected-item);
    color: var(--selected-item-text);
}

mark {
    background-color: var(--mark);
    color: var(--mark-text);
}

sub { font-variant-position: sub ; }
sup { font-variant-position: super ; }

abbr {
    text-decoration: unset ;
    font-variant-caps: all-small-caps ;
}
cite {
    font-style: unset ;
    font-variant-caps: small-caps ;
}

sub, sup { vertical-align: inherit ; }

main {
    display: block ;
}

:root {
    --t: clamp(0rem,
               (1600vw - var(--min-width) * 1rem) / var(--width-delta),
               1rem) ;
    --ratio-2: calc(var(--ratio-1) * var(--ratio-1)) ;
}


@media print {
    :root {
        font-size: 14pt ;
    }
}

@media screen {
    :root {
        /* default ratio on browsers is 1rem = 16px */
        font-size:
            calc(
                (var(--min-font-size) * 1rem
                 + var(--t) * (var(--max-font-size) - var(--min-font-size))) / 16
            ) ;
    }
}
