@charset "utf-8";

::selection {
    background-color: var(--selected-item);
    color: var(--selected-item-text);
}

:focus-visible {
    outline-color: var(--highlight-text) ;
    outline-width: 0.18rem ;
    outline-offset: 0.23em ;
    outline-style: solid ;
}

:any-link:active {
    color: var(--active-text) ;
    transition: color 0.05s ;
}

@media print {
    :any-link {
        text-decoration: none ;
    }
}

:link { color: var(--link-text) ; }
:visited { color: var(--visited-text) ; }

:any-link { border-radius: 0.01ch ; }

mark {
    background-color: var(--mark);
    color: var(--mark-text);
}

sub { font-variant-position: sub ; }
sup { font-variant-position: super ; }

abbr {
    text-decoration: unset ;
    font-variant-caps: all-small-caps ;
}
cite {
    font-style: unset ;
    font-variant-caps: small-caps ;
}

address {
    font-style: unset ;
}


p {
    margin-block: var(--line);
    inline-size: var(--measure) ;
    max-inline-size: 100% ;

    -moz-hyphens: auto ;
    -ms-hyphens: auto ;
    -webkit-hyphens: auto ;
    hyphens: auto ;
}

pre {
    margin: 0;
}

table { border-collapse: collapse ; }

hr {
    block-size: 0 ;
    border: unset ;
    margin-block: var(--line) ;

    break-before: avoid ;
}

h1, h2, h3, h4, h5, h6 {
    break-inside: avoid ;
    break-after: avoid ;
}

h1,h2,h3,h4,h5,h6, figcaption, ::marker {
    color: var(--emphasis-text);
}

/* FIXME should form controls be tabular or just lining? */
time, code, pre,
table, ::marker,
select, option, button, input {
    font-variant-numeric: lining-nums tabular-nums;
}

sub, sup { vertical-align: inherit ; }

h1,h2,h3,h4,h5,h6 {
    margin: unset ;
    font-size: inherit ;
    font-style: normal ;
}

hgroup {
    inline-size: fit-content ;
    max-inline-size: 100% ;
    margin: unset ;

    font-style: italic;
}

blockquote {
    margin-block: var(--line) ;
}

@counter-style nodot {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "\2003";
}
@counter-style bullet {
  system: cyclic;
  symbols: "\2043";
  suffix: "\2003";
}

ol {
    list-style-type: nodot ;
}

::marker {
    font-weight: bold ;
}

:where(menu, ul, ol) {
    margin-block: var(--line) ;
    padding-inline-start: 2em ;
    list-style-type: bullet ;
}

dl, dt, dd {
    margin: unset ;
}

@media screen {
    figcaption {
        position: sticky ;
        left: 0 ;
    }

    figure {
        position: relative ;
        overflow: auto ;
    }
}

figcaption {
    font-weight: bold ;
}

figure {
    margin-inline: 0 ;
    margin-block: var(--line) ;

    break-inside: avoid ;
}


h1 {
    font-size: calc(var(--ratio-2) * 1rem);
}

h2 {
    font-size: calc(var(--ratio-1) * 1rem);
}

h1,h2,h3,h4,h5,h6 {
    border-radius: 0.01ch ;
}

header,h1,h2,h3,h4,h5,h6 {
    font-variant-numeric: proportional-nums lining-nums ;
}

main {
    display: block ;
}

dl, header {
    margin-block: var(--line) ;
}

@media print {
    :root {
        font-size: 14pt ;
    }
}

@media screen {
    :root {
        /* default ratio on browsers is 1rem = 16px */
        font-size:
            calc(
                (var(--min-font-size) * 1rem
                 + var(--t) * (var(--max-font-size) - var(--min-font-size))) / 16
            ) ;
    }
}

:root {
    line-height: var(--line) ;
    font-size-adjust: var(--ex-height) ;

    /* more legible hyperlinks */
    -webkit-text-underline-position: under ;
    text-underline-position: under ;

    font-family: sans-serif ;
    font-variant-numeric: proportional-nums oldstyle-nums ;

    -moz-text-size-adjust: none ;
    -webkit-text-size-adjust: none ;
    text-size-adjust: none ;

    color-scheme: dark light ;

    color: var(--canvas-text) ;

    accent-color: var(--accent-color) ;

    /* Make the caret seeable with caret browsing?  Need to figure out */
    /* a better UX here/experiment on different platforms */
    caret-color: var(--highlight-text) ;
}

/* FIXME not valid CSS */
:root {
    --t: clamp(0rem,
               (1600vw - var(--min-width) * 1rem) / var(--width-delta),
               1rem) ;
    --ratio-2: calc(var(--ratio-1) * var(--ratio-1)) ;
}

:root, body {
    margin: 0;
}

:root {
    background-color: var(--canvas) ;
}
