:root {
    font-family: "-apple-system",
                 system-ui,
                 "BlinkMacSystemFont",
                 "Segoe UI",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol",
                 "Apple Color Emoji",
                 "Roboto",
                 "Arial",
                 "Helvetica",
                 sans-serif ;
    font-variant-numeric: proportional-nums oldstyle-nums ;
    hyphens: auto ;

    // more legible hyperlinks
    text-underline-position: under ;
}

nav,header,footer,h1,h2,h3,h4,h5,h6 {
    font-variant-numeric: proportional-nums lining-nums ;
    hyphens: manual ;
}

table, li::marker {
    font-variant-numeric: lining-nums tabular-nums;
}

sub {
    font-variant-position: sub ;
}
sup {
    font-variant-position: super ;
}
sub, sup {
    vertical-align: inherit ;
}

:root {
    scroll-behavior: smooth ;
}


:root {
    font-size: 18em / 16 ;
    line-height: $line ;
}

p {
    margin-block: $line ;
}

hr, p {
    inline-size: $width ;
}

hr, p, h1, h2, h3, h4, h5, h6 {
    max-inline-size: 100% ;
}

// provide some sensible defaults for line spacing, etc..
h1,h2,h3,h4,h5,h6 {
    line-height: $line / scale(1) ;
    font-size: scale(1) * 1em ;
    inline-size: $width / scale(1) ;
    font-weight: 500 ;
}

h1 {
    font-weight: 800 ;
    font-size: scale(3) * 1em ;
    inline-size: $width / scale(3) ;
    line-height: $line / scale(3) ;
    margin-block-start: $line / scale(3) ;
    margin-block-end: $line / scale(3) ;
}
h2 {
    font-size: scale(2) * 1em ;
    inline-size: $width / scale(2) ;
    line-height: $line / scale(2) ;
    margin-block-start: $line / scale(2) ;
    margin-block-end: $line / scale(2) ;
}

dl {
    margin: 0;
}
dt, dd {
    display: inline ;
}
dt {
    margin-inline-end: 0.2em ;
}
dd {
    margin-inline-start: 0.1em ;
}
dt ~ dt::before {
    content: "\a" ;
    white-space: pre ;
}
dt::after {
    display: inline ;
    content: ": " ;
}

table {
    border-collapse: collapse ;
}

@counter-style nodot {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: "   ";
}
@counter-style bullet {
  system: cyclic;
  symbols: "•";
  suffix: "    ";
}

ol {
    list-style-type: nodot ;
}

menu, ul {
    list-style-type: bullet ;
}

menu, ul, ol {
    padding-inline-start: $col3 ;
}


abbr {
    @include all-small-caps ;
}
cite {
    @include small-caps ;
}

* {
    outline-offset: 0.1em;
    outline-width: 0.2em ;
}

:is(h1,h2,h2,h4,h5,h6):focus-within {
    outline-style: solid ;
}

:focus {
    outline-style: solid ;
}
:is(h1,h2,h2,h4,h5,h6) :focus {
    outline-style: none;
}

ins[datetime] {
    position: relative ;
}
ins[datetime]:is(:hover,:focus-within)::after {
    font-variant-numeric: lining-nums tabular-nums ;
    position: absolute ;
    display: block ;
    content: attr(datetime) ;
    text-decoration: none ;
    z-index: 1000 ;
    opacity: 95% ;
    background-color: Canvas ;
    box-shadow: 1px 1px 1px CanvasText ;
    color: CanvasText ;
    inset-inline-start: -10% ;
    padding-block: 0.2ex ;
    padding-inline: 0.3em ;
    border-radius: 0.2em ;
}
