
// rest of stuff

$primary: (
    50: #F3E4F7,
    100: #E2BCEB,
    200: #CF8EDF,
    300: #BB60D2,
    400: #AC3AC8,
    500: #9D01BE,
    600: #8E03B8,
    700: #7901B1,
    800: #60a,
    900: #3E009F,
    contrast: (
        50: rgba(black, 100%),
        100: rgba(black, 100%),
        200: rgba(black, 100%),
        300: rgba(white, 100%),
        400: rgba(white, 100%),
        500: rgba(white, 100%),
        600: rgba(white, 100%),
        700: rgba(white, 100%),
        800: rgba(white, 100%),
        900: rgba(white, 100%)
    )
);

$accent: (
    50: #EFFAE6,
    100: #D7F1C2,
    200: #BBE89A,
    300: #9EDE6E,
    400: #85D749,
    500: #6DCF18,
    600: #5CBE11,
    700: #44AA00,
    800: #289600,
    900: #007400,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: white,
        800: white,
        900: white
    )
);

$warn: (
    50: #EDE6F8,
    100: #D1C1EE,
    200: #B397E4,
    300: #946CDA,
    400: #7C4BD2,
    500: #6228C9,
    600: #5823C3,
    700: #481ABB,
    800: #3813B4,
    900: #1100AA,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

@function pick($palette) {
    @return (
        default: map-get($palette, 500),
        lighter: map-get($palette, 300),
        darker: map-get($palette, 700),

        default-contrast: map-get(map-get($palette, contrast), 500),
        lighter-contrast: map-get(map-get($palette, contrast), 300),
        darker-contrast: map-get(map-get($palette, contrast), 700)
    ) ;
}

$color: (
    primary: pick($primary),
    accent: pick($accent),
    warn: pick($warn)
);

@function color($type, $bright) {
    @return map-get(map-get($color, $type), $bright);
}
