address, cite, abbr {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;
}

hr {
    color: inherit ;
}

* {
    box-sizing: border-box ;
}

:root {
    font-family: sans-serif ;
}

code, pre {
    font-family: monospace ;
}
