@media screen {
    :root { color-scheme: light dark ; }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #242526 ;
        color: #d3e0e3 ;
    }
    body > details {
        background: #242526 ;
    }
}
