$primary: (
    50: #F3E4F7,
    100: #E2BCEB,
    200: #CF8EDF,
    300: #BB60D2,
    400: #AC3AC8,
    500: #9D01BE,
    600: #8E03B8,
    700: #7901B1,
    800: #60a,
    900: #3E009F,
    contrast: (
        50: rgba(black, 100%),
        100: rgba(black, 100%),
        200: rgba(black, 100%),
        300: rgba(white, 100%),
        400: rgba(white, 100%),
        500: rgba(white, 100%),
        600: rgba(white, 100%),
        700: rgba(white, 100%),
        800: rgba(white, 100%),
        900: rgba(white, 100%)
    )
);

$accent: (
    50: #EFFAE6,
    100: #D7F1C2,
    200: #BBE89A,
    300: #9EDE6E,
    400: #85D749,
    500: #6DCF18,
    600: #5CBE11,
    700: #44AA00,
    800: #289600,
    900: #007400,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: black,
        400: black,
        500: black,
        600: black,
        700: white,
        800: white,
        900: white
    )
);

$warn: (
    50: #EDE6F8,
    100: #D1C1EE,
    200: #B397E4,
    300: #946CDA,
    400: #7C4BD2,
    500: #6228C9,
    600: #5823C3,
    700: #481ABB,
    800: #3813B4,
    900: #1100AA,
    contrast: (
        50: black,
        100: black,
        200: black,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

@function pick($palette) {
    @return (
        default: map-get($palette, 500),
        lighter: map-get($palette, 300),
        darker: map-get($palette, 700),

        default-contrast: map-get(map-get($palette, contrast), 500),
        lighter-contrast: map-get(map-get($palette, contrast), 300),
        darker-contrast: map-get(map-get($palette, contrast), 700)
    ) ;
}

$color: (
    primary: pick($primary),
    accent: pick($accent),
    warn: pick($warn)
);

@function color($type, $bright) {
    @return map-get(map-get($color, $type), $bright);
}

* {
    color-scheme: light ;
}

:focus {
    background-color: black ;
    color: white !important ;
}
:is(h1,h2,h2,h4,h5,h6, li):focus-within {
    background-color: black ;
}

:link {
    color: map-get($primary, 800) ;
}
:link:hover {
    color: map-get($primary, 700) ;
}
:visited {
    color: map-get($primary, 900) ;
}
:is(:link, :visited):active {
    color: map-get($warn, 900) ;
}

:is(nav, h1,h2,h3,h4,h5,h6,h7) :link:active {
    color: map-get($warn, 900) ;
}

hr::after {
    background-color: white ;
}

blockquote {
    color: color(primary, darker) ;
}

option:hover, button:hover {
    background-color: lighten(color(primary, lighter), 20%) ;
}
option:active, button:active {
    background-color: color(accent, default) ;
}
option:checked {
    background-color: lighten(color(primary, lighter), 30%) ;
}

@media (prefers-color-scheme: dark) {
    * {
        color-scheme: dark ;
    }

    html, body {
        background-color: #222 ;
        color: white ;
    }

    :focus {
        background-color: white ;
        color: black !important ;
    }
    :is(h1,h2,h2,h4,h5,h6, li):focus-within {
        background-color: white ;
    }

    :link {
        color: map-get($primary, 100) ;
    }
    :visited {
        color: map-get($primary, 200) ;
    }
    :is(:link,:visited):hover {
        color: map-get($accent, 100) ;
    }
    :is(:link, :visited):active {
        color: map-get($warn, 300) ;
    }

    :is(nav, h1,h2,h3,h4,h5,h6,h7) :link:active {
        color: map-get($warn, 700) ;
    }

    hr::after {
        background-color: #222 ;
    }

    button:hover, option:hover {
        background-color: map-get($primary, 300) ;
    }
    option:checked {
        background-color: map-get($primary, 400) ;
    }
}
