@media screen {
    :root { color-scheme: light dark ; }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: #242526 ;
        color: #c3d0d3 ;
    }
}

h1 {
    color: #D04040 ;
}

@media (prefers-color-scheme: dark) {
    h1 {
        color: #E04040 ;
    }
}
