/*
0.75em ~ 9pt, at 2 line height ~ 18
1em ~ 12pt, at 1.5 line height ~ 18
1.16...em ~ 14pt, at 1.285714 line height ~ 18
1.25em ~ 15pt at 1.2 line height ~  18
1.3..em ~ 16pt at 1.125 line height ~  18
1.5em ~ 18pt at 1 line height ~  18

bleh i don't get it
*/

@function pt($pts) {
    @return (($pts / 12) * 1rem);
}
@function inv($pts) {
    @return (18 /$pts);
}

body {
    line-height: 1.5rem ;
}

// provide some sensible defaults for line spacing, etc..
h1, h2, h3, h4, h5, h6 {
    font-size: pt(14) ;
}

h1 {
    font-size: pt(18) ;
}
h2 {
    font-size: pt(16) ;
}

h1, h2, h3 {
    margin-top: pt(27) ;
    margin-bottom: pt(9) ;
}


h1 { font-weight: 900 ; }
h2 { font-weight: 600 ; }
h3 { font-weight: 500 ; }

dd {
    margin-left: 2em ;
}


small {
    font-size: pt(9) ;
}

// left indent all but first paragrahp
p {
    margin-top: pt(18) ;
}
p + p {
    margin-top: 0 ;
    text-indent: 1.2em ;
}

p {
    hyphens: auto ;
}

hr {
    margin-top: pt(18) ;
    // an obtuse hack is needed to prevent horizontal rules throwing
    // off the spacing
    height: 0px ;
    border: none ;
    outline-width: 1px ;
    outline-style: solid ;
}

* {
    font-variant-numeric: proportional-nums oldstyle-nums ;
}
h1, h2, h3, h4, h5, h6 {
    font-variant-numeric: proportional-nums lining-nums ;
}

table {
    border-collapse: collapse ;
    font-variant-numeric: lining-nums tabular-nums;
}

menu, ul {
    padding-left: 1em ;
}
ol {
    padding-left: 1.8em ;
}
