/*
0.75em ~ 9pt, at 2 line height ~ 18
1em ~ 12pt, at 1.5 line height ~ 18
1.16...em ~ 14pt, at 1.285714 line height ~ 18
1.25em ~ 15pt at 1.2 line height ~  18
1.3..em ~ 16pt at 1.125 line height ~  18
1.5em ~ 18pt at 1 line height ~  18

bleh i don't get it
*/

@function pt($pts) {
    @return (($pts / 12) * 1rem);
}
@function inv($pts) {
    @return (18 /$pts);
}

$col: pt(6.5) ;
$col2: 2 * $col ;
$col3: 3 * $col ;
$col4: 4 * $col ;
$col5: 5 * $col ;
$col6: 6 * $col ;
$col7: 7 * $col ;
$col8: 8 * $col ;

$line: pt(19.5) ;
$halfline: 0.5 * $line ;
$lineandhalf: 1.5 * $line ;
$doubleline: 2 * $line ;


:focus,
:is(h1,h2,h2,h4,h5,h6):focus-within {
    outline-style: solid ;
    outline-width: 0.3em ;
    outline-offset: 0;
}
:focus {
    outline-width: 0.25em ;
}

:is(h1,h2,h2,h4,h5,h6) :focus {
    background-color: transparent ;
    outline: none;
}

body {
    line-height: $line ;
    font-size: pt(13) ;
}

// provide some sensible defaults for line spacing, etc..
h1, h2, h3, h4, h5, h6 {
    font-size: pt(14) ;
}

h1 {
    font-size: pt(19) ;
}
h2 {
    font-size: pt(16) ;
}

* {
    color-scheme: light dark ;
}


h1, h2 {
    margin-top: $lineandhalf ;
    margin-bottom: $halfline ;
}

h1 { font-weight: 900 ; }
h2 { font-weight: 600 ; }
h3 { font-weight: 500 ; }

dd {
    margin-left: $col8 ;
}


small {
    font-size: pt(9) ;
}

p:first-of-type {
    margin-top: $line ;
}
p:last-of-type {
    margin-bottom: $line ;
}
p + p {
    text-indent: $col3 ;
}

p {
    hyphens: auto ;
}

@mixin tabular {
    font-variant-numeric: lining-nums tabular-nums;
}

p {
    font-variant-numeric: proportional-nums oldstyle-nums ;
}

body {
    font-variant-numeric: proportional-nums lining-nums ;
}

table {
    border-collapse: collapse ;
    @include tabular ;
}

menu, ul {
    padding-left: $col2 ;
}
ol {
    padding-left: $col4 ;
}

.sr-only {
    display: inline-block ;
    -webkit-user-select: none ;
    user-select: none ;

    // Hide visually
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    overflow: hidden !important;
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;

    margin: -1px !important;
    font-size: 1px !important;
    white-space: nowrap !important;
    color: transparent !important ;
}
