select, option, button, input {
  margin: 0;
  padding: 0;
}

select, option, button, input {
  border: none ;
  font-family: inherit ;
  vertical-align: baseline ;
}

// Hide select arrow
select::-ms-expand { display: none ; }

select, option, button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

select, option, button { cursor: pointer }

select, button { border-style: solid; }
select, button { border-width: 1px ; padding: 3px ; }
select:focus, button:focus { border-width: 2px ; padding: 2px }

option { border-width: 1px ; }
option { border-style: dashed none none none ; }
option:first-child { border-style: none ; }
