select, option, button { cursor: pointer }

select, button {
    border: none;
    padding-left: 0.5em ;
    padding-right: 0.5em ;

    margin-left: 0.5em ;
    margin-right: 0.5em ;
    margin-top: $line ;
    margin-bottom: $line ;
}


fieldset {
    border: none ;
    border-radius: 3px ;
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    gap: pt(18) ;
    padding-left: pt(9);
    padding-right: pt(9);
}

.label {
    display: block ;
    margin-top: $line ;

    // Hack to keep aligned to  grid
    margin-bottom: -2px ;
    border-width: 2px;

    border-style: none none solid none ;
    width:100%;
    display:block;
}

form {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
}

option, option:focus {
    margin-left: 0.2em ;
    margin-right: 0.2em ;
}
