select, option, button, input {
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;
}

// Hide select arrow
select::-ms-expand { display: none ; }

select, option, button, input {
    background-color: transparent;
    color: inherit ;
}
select, option, button, input {
    @include prefix(appearance, none);
}

select, button {
    border-style: none ;
    border-color: currentcolor ;
}

button {
    padding-inline: 0.5em ;
}

select {
    margin-block: $line ;
}

form {
    display: flex ;
    flex-direction: column ;
}

label {
    margin-block-end: $line ;

    // Hack to keep aligned to  grid
    margin-bottom: -2px ;
    border-width: 2px;
    border-style: none none solid none ;
    inline-size:100%;
}

option, select {
    box-sizing: border-box ;
}

option {
    min-height: $line ;
}
select {
    min-height: 3 * $line ;
}

option {
    padding: 0 ;
    margin: 0 ;
}
select {
    padding-block: 0;
}

button {
    border-style: solid ;
    border-width: 1px ;
}

select {
    margin-inline: -0.6ch ;
}
option {
    padding-inline: 0.6ch ;
}

@media (prefers-color-scheme: dark) {
    option:checked {
        background: white ;
        color: black ;
    }
    button:active {
        background: white ;
        color: black ;
    }
}

@media (prefers-color-scheme: light) {
    option:checked {
        background: black ;
        color: white ;
    }
    button:active {
        background: black ;
        color: white ;
    }
}

menu {
    padding: 0;
    margin: 0;
    display: flex ;
    justify-content: start ;
    column-gap: 1ch ;
}
menu > li {
    display: block ;
}
