select, option, button, input,
select:focus, option:focus, button:focus, input:focus {
  margin: 0;
  padding: 0;

  border: none ;
  font-family: inherit ;
  vertical-align: baseline ;
}

// Hide select arrow
select::-ms-expand { display: none ; }

select, option, button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

select, option, button { cursor: pointer }

select, button,
select:focus, button:focus {
    border-radius: 3px ;
    border-style: solid;
    border-width: 1px ;
}

option, option:focus {
    padding: 0.2em 0.8em 0.2em 0.8em ;
}

button, button:focus {
    padding: 0.3em 0.8em 0.3em 0.8em ;
}

select:focus, button:focus {
    outline: dashed ;
    outline-offset: 3px ;
    outline-width: 1px ;
}

option { border-width: 1px ; }
option { border-style: dashed none none none ; }
option:first-child { border-style: none ; }
