option:hover, button:hover {
    background-color: lighten(color(primary, lighter), 20%) ;
}
option:active, button:active { background-color: color(primary, default) ; }

// Style select
option, option:focus {
    border-width: 1px ;
    border-style: dashed none none none ;
}
option:first-child, option:first-child:focus { border-style: none ; }

option:checked {
    background-color: lighten(color(primary, lighter), 30%) ;
}

fieldset {
    border-style: dashed ;
    border-radius: 1px ;
    border-color: color(primary, lighter);
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    gap: 1.5em ;
}

.label {
    display: inline-block ;
    margin-bottom: 8px ;
}

form {
    display: flex ;
    flex-direction: column ;
    flex-wrap: wrap ;
}
