@charset "utf-8";

legend {
    font-weight: bold ;
}

input[type="checkbox"] {
    appearance: none ;
    margin: unset ;
    border: unset ;

    block-size: 1.4em ;
    inline-size: 2em ;

    border-style: solid ;

    font: inherit ;
    font-weight: bold ;

    display: flex ;
    justify-content: center ;
    align-items: center ;
    text-align: center ;

    transition: background-color 0.2s, color 0.2s ;

    background-color: var(--field);
    color: var(--field-text);


    box-sizing: border-box ;

    border-radius: 0.1ch ;
    border-width: calc(max(1px, 0.07em));
}

input[type="checkbox"] {
    border-color: var(--button-border) ;
    background-color: var(--button-face) ;
    color: var(--button-text) ;
}
input[type="checkbox"]:checked {
    background-color: var(--accent-color) ;
    color: var(--accent-color-text) ;
}

input[type="checkbox"]::after {
    display: table-cell ;
    vertical-align: middle ;
    content: "" ;
}
input[type="checkbox"]:checked {
    border: unset ;

    transition: background-color 0.1s, color 0.1s ;
}

/* FIXME i18n */
/* FIXME use display list-item ? */
input[type="checkbox"]:checked::after {
    content: "✓" ;
}

input[type="checkbox"] {
    outline-color: var(--highlight-text) ;
    outline-width: 0.18rem ;
    outline-offset: 0.23em ;
}
input[type="checkbox"]:focus-visible {
    outline-style: solid ;
}
