:root {
    position: relative ;
}
body {
    position: relative ;
    margin-inline: auto ;
    inline-size: $width ;
    max-inline-size: 100% ;
}

body > header {
    display: flex ;
    justify-content: end ;
}

.paging {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
    column-gap: 1ch ;
}

body {
    align-items: stretch ;
    justify-content: stretch ;
    row-gap: 0 ;
    column-gap: 2ch ;
    grid-auto-flow: dense ;
    grid-template-columns: 1fr [main] auto [aside] $aside 1fr ;
    grid-template-rows: auto auto auto 1fr ;
}
body > * {
    grid-column: main;
}
main {
    grid-row: span 4 ;
}

body > :is(header, footer, nav) {
    grid-column: aside;
}

@media screen {
    :root {
        padding-inline: 0.8ch ;
    }
    body {
        margin-block-end: 3 * $line ;
        margin-block-start: 0.2em ;
    }
}

@media screen and (min-width: $A4-width + 2 * $A4-margin) {
    :root {
        padding-inline: 0 ;
    }
    body {
        inline-size: initial ;
        max-inline-size: initial ;
        margin-block: 0 ;

        padding-inline: 0 ;
        display: grid ;
        height: 100vh ;
    }
    body > header {
        display: block ;
    }
    main {
        scroll-behavior: smooth ;
        scrollbar-gutter: stable ;
        overflow-y: scroll ;
        padding-block-end: $line3 ;
        box-sizing: border-box ;
    }
    .paging {
        display: block ;
    }
}

@media screen and (min-width: $A4-width + 3 * $A4-margin) {
    body {
        grid-template-columns: 1in [main] auto [aside] $aside 1fr ;
        padding-block-start: $line  ;
        box-sizing: border-box ;
    }
}
