$root-font-size: $font-size * 1pt ;
:root {
    line-height: $lh * $font-size * 1pt ;
    font-size: $root-font-size ;
    // Noto Sans aspect ratio :(
    font-size-adjust: ex-height 0.536 ;
}

:root {
    @include text-size-adjust(none);
}

h3,h4,h5,h6 {
    font-size: scale(1) * 1rem ;
}

h1 {
    font-size: scale(3) * 1rem ;
    margin-block: $line ;
}
h2 {
    font-size: scale(2) * 1rem ;
    margin-block: $line ;
}

p {
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
}
// :root {
//     display: flex ;
//     justify-content: center ;
// }


body {
    max-inline-size: 100% ;
}

body > header {
    display: flex ;
    justify-content: end ;
}

.paging {
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
    column-gap: 1.5ch ;
}

body {
    row-gap: 0 ;
    column-gap: 1ch ;
    grid-auto-flow: dense ;
    grid-template-columns: [main] $main-width [aside] $aside ;
    grid-template-rows: auto auto auto 1fr ;
}
body > * {
    grid-column: main;
}
main {
    grid-row: span 4 ;
}

body > :is(header, footer, nav) {
    grid-column: aside;
}
:root, body, main {
    display: block ;
    padding: 0 ;
    margin: 0 ;
}

:root {
    display: flex ;
    justify-content: center ;
}

@media screen {
    body {
        margin-block-end: 3 * $line ;
        margin-block-start: $line ;

        max-inline-size: 100% ;
    }
}

@media screen and (max-width: $A4-width + 2 * $A4-margin) {
    body {
        inline-size: $main-width ;
        margin-inline: 0.8ch ;
    }
}

@media screen and (min-width: $A4-width + 2 * $A4-margin) {
    body {
        display: grid ;
    }
    body > header {
        display: block ;
    }
    .paging {
        display: block ;
    }
}

@media screen and (min-width: $A4-width + 3 * $A4-margin) {
    :root {
        justify-content: start ;
    }
    body {
        margin-inline-start: $A4-margin ;
    }
}


figure {
    margin-inline: 0;
    margin-block: $line ;
}
pre, dl {
    margin-block: 0;
}

p {
    margin-block: $line;
}

hgroup p:first-of-type {
    margin-block-start: -$line ;
}

hr {
    margin-block: $line ;
}

@media screen and (min-width: $A4-width) {
    main {
        margin-inline: $min-margin;
    }
}
@media screen and (min-width: $A4-width + 2 * $A4-margin) {
    main {
        margin-inline-end: 0;
    }
}
