$A4-width: 8.3in ;
$A4-height: 11.7in ;
$A4-margin: 1.5in ;
$body-width: 5.3in ;


html {
    margin-left: auto ;
    margin-right: auto ;
    min-height: 100vh ;
}

body {
    margin-left: auto ;
    margin-right: auto ;

    position: relative ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
}

@media (min-width: 40em) {
    html {
        width: $A4-width ;
    }
    body {
        width: $body-width ;
    }
}

@media screen and (min-width: 50em) {
    html {
        box-shadow: 0.04em -0.01em 0.2em $grey-color ;
    }

    body {
        margin: $A4-margin ;
    }
}
@media screen and (min-width: 70em) {
    html {
        margin-left: 1in ;
    }
}

@media only screen and (max-width: 40em) {
    body {
        margin: 0.7em ;
        margin-top: 0.2em ;
    }
}

nav {
    width: 100% ;
    display: flex ;
    justify-content: flex-end ;
}


@media (min-width: 40em) {
    nav {
        position: absolute ;
        right: 0;
        top: 0;
        margin-top: -2em ;
        margin-right: -2em ;
    }
}


header {
    width: 100% ;
}

article { width: 100% ; }
main { width: 100% ; }

footer {
    width: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content: space-between ;
}


.home {
    text-align: center ;
    border-width: 1px ;
    border-color: $grey-color ;
    border-style: none none solid none ;
    padding-bottom: 1.4em ;
    margin-bottom: 1.7em ;
}

footer {
    margin-top: 1.5em ;
}


.poem header { text-align: center ; }
.poem main { width: initial ; }
