.stanza, .line {
    all: initial ;
    background-color: transparent;
    vertical-align: baseline ;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;
    line-height: inherit;
    color: inherit ;
    border: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.stanza {
    display: block ;
    margin-top: $line ;
    margin-bottom: $line ;
}
// Insert a full stop between each line for so they sound like sentences
// with screenreaders
.line:not(:last-of-type)::after {
    content: ' . ' ;

    // Hide visually
    // see https://www.a11yproject.com/posts/how-to-hide-content/
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    height: 1px;
    width: 1px;
}
