.stanza {
    text-indent: 0 ;
    margin-block: $line ;
    padding: 0 ;
    display: flex ;
    flex-direction: column ;
    align-items: start ;
}
.line {
    text-align-last: end ;
    pause: medium medium ;
}
