.stanzas, .stanza, .line {
    all: initial ;
    background-color: transparent;
    vertical-align: baseline ;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;
    line-height: inherit;
    color: inherit ;
    border: none;
    outline: none;

}
.stanzas, .stanza, .line {
    display: block ;
    margin: 0 ;
    padding: 0 ;
}
.stanza {
    margin-top: $line ;
    margin-bottom: $line ;
}

.line {
    padding-left: $col4;
    text-indent: -$col4;
}
// .line-br {
// }

// // Hide line-end periods but show them to screen readers
// .line-end {
//     // See https://www.a11yproject.com/posts/how-to-hide-content/
//     // for source of visual hiding code
//     clip: rect(0 0 0 0) !important;
//     clip-path: insert(50%) !important;
//     height: 1px !important;
//     width: 1px !important;
//     position: absolute !important;
//     white-space: nowrap !important;
//     margin: 0 !important;
//     padding: 0 !important;
//     border: 0 !important;
//     overflow: hidden !important;
// }
