@media print {
    @page {
        size: A4 portrait ;
        margin: $A4-margin ;
    }
    body > header, body > div > nav {
        display: none ;
    }

    body > div,
    body > div > main,
    body > footer {
        display: contents ;
    }
    body > footer :any-link {
        text-decoration: none ;
        // FIXME
        color: black !important ;
    }
}

h1, h2, h3, h4, h5, h6 {
    break-inside: avoid ;
}
figure {
    break-inside: avoid ;
}

h1 {
    break-before: all ;
}
hr {
    break-before: avoid ;
    break-after: column ;
}
h2 {
    break-before: column ;
}

h1, h2 {
    break-after: avoid ;
}

:root {
    widows: 2 ;
    orphans: 2 ;
}
