@charset "utf-8";

@page {
    size: A4 portrait ;
    margin: 0 0 ;
}

@media print {
    /* Hide bookmark links? */
    :any-link:is([rel~="bookmark"]) {
        display: none ;
    }
    :any-link:not(:is([href^="/"], [href^="#"]))::after {
        content: "\2003" attr(href) ;
        white-space: nowrap ;
    }
}
