@media print {
    @page {
        size: A4 portrait ;
        margin: $A4-margin ;
    }
    body > header, body > div > nav {
        display: none ;
    }

    body > div,
    body > div > main,
    body > footer {
        display: contents ;
    }
    :any-link {
        text-decoration: none ;
        color: inherit ;
    }
    :any-link:not(:is([href^="/"], [href^="#"]))::after {
        content: " " attr(href) ;
    }
}

h1, h2, h3, h4, h5, h6 {
    break-inside: avoid ;
}
h1, h2, h3, h4, h5, h6 {
    break-after: avoid ;
}

figure {
    break-inside: avoid ;
}

hr {
    break-before: avoid ;
}


:root {
    widows: 2 ;
    orphans: 2 ;
}
