* {
    box-sizing: border-box ;
}

html, body,
blockquote, pre,
dl, dd, figure,
select, option, button, input {
  margin: 0;
  padding: 0;
}

html, body,
blockquote, pre,
dl, dd, figure,
h1, h2, h3, h4, h5, h6, p, hr
select, option, button, input {
  border: none ;
  font-family: inherit ;
  vertical-align: baseline ;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0 ;
    margin: 0 ;

    margin-top: 0.8em ;
    margin-bottom: 0.8em ;
}

body {
    font-family: -apple-system,
                 system-ui,
                 BlinkMacSystemFont,
                 "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji",
                 Roboto, Helvetica, Arial, sans-serif ;
}

// Hide select arrow
select::-ms-expand { display: none ; }

select, option, button, input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

select, option, button { cursor: pointer }


select, button { border-style: solid; }
select, button { border-width: 1px ; padding: 3px ; }
select:focus, button:focus { border-width: 2px ; padding: 2px }

// Style select
option { border-width: 1px ; }
option { border-style: dashed none none none ; }
option:first-child { border-style: none ; }
