.metadata, .metadata > li {
    margin: 0;
    padding: 0;
    line-height: inherit ;
}

.metadata {
    font-size: 0.9em ;
    display: block ;
}

.metadata > li {
    display: inline ;
}

.metadata > li::before {
    content: " • " ;
    display: inline ;
    color: $grey-color ;
}

.metadata > li:first-child::before {
    content: none ;
}

.post-meta { text-align: left ; }
