@counter-style metadata {
  system: cyclic;
  symbols: "•";
  suffix: "  ";
}

.metadata {
    // FIXME awkward
    font-size: 14px ;

    margin: 0;
    padding: 0;
    display: flex ;
    flex-wrap: wrap ;
    gap: 1.4em ;

    list-style-type: metadata ;
}

.metadata > li:first-child {
    list-style-type: none ;
}

.post-meta { text-align: left ; }
