.metadata, .metadata > li {
    margin: 0;
    padding: 0;
    line-height: inherit ;
}

.metadata {
    font-size: 0.9em ;
    display: flex ;
    flex-wrap: wrap ;
    gap: 0.3em ;
}

.metadata > li {
    display: block ;
}

.metadata > li::before {
    content: "•" ;
    color: $grey-color ;
}

.metadata > li:first-child::before {
    content: none ;
}

.post-meta { text-align: left ; }
