@counter-style metadata {
  system: cyclic;
  symbols: ",";
  suffix: " ";
}

.metadata, .metadata > li {
    margin: 0;
    padding: 0;
    line-height: inherit ;
}

.metadata {
    // FIXME awkward
    font-size: 14px ;
    display: flex ;
    flex-wrap: wrap ;
    gap: 0.6em ;

    list-style-type: metadata ;
}

.metadata > li:first-child {
    list-style-type: none ;
}

.post-meta { text-align: left ; }
