:link {
    font-variant-caps: small-caps ;
}
:link[rel~="author"],
:is(footer, nav, h1, h2, h3, h4, h5, h6, h7) :link {
    text-decoration: none ;
}
:link[rel~="author"],
:is(header, h1, h2, h3, h4, h5, h6, h7) :link {
    font-variant-caps: normal ;
}
:link:hover {
    text-decoration: underline ;
}

hr {
    text-align: center;
    overflow: visible ;
}
hr::after {
    text-align: center ;
    top: -0.7em ;
    position: relative ;
    content: "§" ;
    padding: 0 4px ;
    font-size: 1.125em ;
}

blockquote {
    border-style: none none none dashed ;
    border-width: 1px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 1em;
}

// abuse menu unsemantically
menu, menu > li {
    margin: 0;
    padding: 0;
    line-height: inherit ;
}

menu {
    display: block ;
}

menu > li {
    display: inline ;
}

menu > li::before {
    content: " • " ;
    display: inline ;
}

menu > li:first-child::before {
    content: none ;
}

.metadata, .metadata > dt, .metadata > dd {
    display: inline-block ;
    margin: 0;
    padding: 0;
}

.metadata {
    display: grid ;
    grid-template-rows: [name] min-content [content] min-content;
    grid-auto-flow: column ;
    column-gap: 1.2em ;
    align-items: center ;
    justify-content: start ;
}

.metadata > dt {
    grid-row: name / name;
    font-size: 0.75em ;
    line-height: 1.714 ;
}
.metadata > dd {
    grid-row: content / content;
    font-size: 0.875em ;
    line-height: 2 ;
}

p:first-of-type::first-letter {
    line-height: 1.286 ;
    font-size: 1.125em ;
    font-weight: bold ;
}

p:first-of-type::first-line {
    font-style: italic ;
}
