p + p {
    text-indent: $col3 ;
}

@media (min-width: $A4-width) {
    h1 {
        font-size: pt(25) ;
        line-height: $doubleline ;
    }
}


:is(nav, h1,h2,h3,h4,h5,h6,h7) :is(:link, :visited) {
    text-decoration: inherit ;
    color: inherit;
}
:link:hover {
    text-decoration: underline ;
}

hr {
    @include clear ;

    // FIXME do asymmetric margins here
    margin-top: $line ;
    margin-bottom: $line ;
    height: 0 ;
    text-align: center;
    overflow: visible ;
    display: flex;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
}
hr::after {
    // this is a dinkus
    display: block ;
    content: "* * *" ;
    padding: 0 4px ;
}

aside {
    font-size: pt(11) ;
}

p:first-of-type::first-letter {
    font-size: pt(14) ;
    font-weight: bold ;
}

p:first-of-type::first-line {
    font-style: italic ;
}

nav {
    @include small-caps ;
}
