@charset "utf-8";

.sr-only {
    position: absolute ;
    display: block ;
    z-index: 1000 ;
    background-color: var(--highlight) ;
    color: var(--highlight-text) ;
    border-radius: 0.6ch ;
    padding-inline: 1em ;
    padding-block: calc(0.5 * var(--line)) ;
}

.sr-only:not(:focus-within):not(:focus):not(:active) {
    white-space: nowrap !important ;
    position: absolute !important ;
    left: -10000px !important ;
    top: auto !important ;
    width: 1px !important ;
    height: 1px !important ;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important ;
    overflow: hidden !important ;
}

hgroup p {
    margin-block: 0 ;
}

main > :is(ul, ol) {
    padding-inline-start: 2rem ;
    padding-inline-start: calc(2 * var(--s));
}

:root {
    /* default ratio on browsers is 1rem = 16px */
    --s: clamp(0rem, (600rem - 1600vw) / 100, 1rem) ;
}

nav, footer {
    margin-block: var(--line);
}
