h1, h2, h3, h4, h5, h6 {
    font-weight: 400 ;
    line-height: 1.1em ;
    margin-top: 0.2em ;
    margin-bottom: 0.2em ;
    display: inline-block ;
}

h1 {
    font-size: 2.2em ;
    margin-top: 0.6em ;
    margin-bottom: 0.6em ;
}
h2 {
    margin-top: 0.4em ;
    margin-bottom: 0.4em ;
}
h3 {
    margin-top: 0.3em ;
    margin-bottom: 0.3em ;
}

@media only screen and (max-width: 40em) {
    h1 {
        font-size: 1.5em ;
        line-height: 1em ;
    }
}

a {
    text-decoration: none ;
}
a:hover {
    text-decoration: underline ;
}

hr {
    text-align: center ;
    border: none ;
}
hr::before {
    content: "***" ;
    color: color(primary, lighter) ;
}

blockquote {
    border-style: none none none dashed ;
    border-width: 1px;
    margin-left: 0.3em;
    padding-left: 0.6em;
    border-color: color(primary, darker) ;
}


menu, ul {
    padding-left: 1.3em ;
}
ol {
    padding-left: 1.9em ;
}
li {
    margin-top: 0.4em ;
    margin-bottom: 0.4em ;
}
li:first-child {
    margin-top: 0 ;
}
li:last-child {
    margin-bottom: 0 ;
}

@counter-style typewriter {
  system: cyclic;
  symbols: "*";
  suffix: "  ";
}
ul, menu {
    list-style-type: typewriter ;
}

@counter-style typewriter-ordered {
  system: numeric;
  symbols: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  suffix: ". " ;
}

ol {
    list-style-type: typewriter-ordered;
}
