.sr-only {
    @include sr-only ;
}

[itemtype="https://schema.org/BreadcrumbList"] {
    all: unset ;
    padding: 0 ;
    margin: 0;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
}
[itemtype="https://schema.org/BreadcrumbList"] li {
    all: unset ;
}

[itemtype="https://schema.org/BreadcrumbList"] li {
    display: list-item ;
    list-style-position: inside ;
}
[itemtype="https://schema.org/BreadcrumbList"] li:first-child {
    display: block ;
}
[itemtype="https://schema.org/BreadcrumbList"] li::marker {
    content: ">\2002";
}

:is(#paging, #breadcrumbs, #search) header,
#metadata hgroup {
    @include sr-only ;
}
#paging dl {
    inline-size: $paragraph-width ;
    max-inline-size: 100% ;
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1ch ;
    justify-content: space-between ;
}

#paging dl > div {
    display: flex ;
    flex-direction: column ;
    align-items: stretch ;
}

#paging dl > div:first-child {
    align-items: start ;
}
#paging dl > div:last-child {
    align-items: end ;
}
