---
---
@charset "utf-8";

$max-font-size: 24 ;
$min-font-size: 19 ;

// Noto Sans aspect ratio :(
$ex-height: 0.536 ;

$scale: 4/3 ;

$paragraph-width: 50.7ch ;
$main-width: 66.3ch ;
$side-width: 32.2ch ;

$sc: (
    -3: 1/($scale * $scale * $scale),
    -2: 1/($scale * $scale),
    -1: 1/$scale,
    0: 1,
    1: $scale,
    2: $scale * $scale,
    3: $scale * $scale * $scale,
    4: $scale * $scale * $scale * $scale,
    5: $scale * $scale * $scale * $scale * $scale
) ;

@function scale($n) {
    @return map-get($sc, $n) ;
}

// Compute legible line height in terms of rems
// https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
$lh: (1ex / 0.32) ;
$line: ($ex-height * $lh * 1rem) /  1ex ;

$A4-width: 8.3in ;
$A4-margin: 1.5in ;

@mixin prefix($property, $value) {
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

@mixin hyphens($value) {
    @include prefix(hyphens, $value);
}
@mixin text-size-adjust($value) {
    -moz-text-size-adjust: $value ;
    -webkit-text-size-adjust: $value ;
    text-size-adjust: $value ;
}
@mixin text-underline-position($value) {
    -webkit-text-underline-position: $value ;
    text-underline-position: $value ;
}

@mixin all-small-caps {
    font-variant-caps: all-small-caps ;
    letter-spacing: 0.07ch ;
}
@mixin small-caps {
    font-variant-caps: small-caps ;
    letter-spacing: 0.07ch ;
}
@mixin sr-only {
    :not(:focus-within) {
        position: absolute !important ;
        left: -10000px !important ;
        top: auto !important ;
        width: 1px !important ;
        height: 1px !important ;
        clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important ;
        overflow: hidden !important ;
    }
}

@import "assets/_clear.scss";
@import "assets/_base.scss";
@import "assets/_layout.scss";
@import "assets/_forms.scss";
@import "assets/_decorate.scss";
@import "assets/_poetry.scss";
@import "assets/_theme.scss";
@import "assets/_colors.scss";
@import "assets/_print.scss";
@import "assets/_syntax.scss";

// body {
//     background: linear-gradient(grey, Canvas);
//     background-size: 100% $line ;
// }
