---
---
@charset "utf-8";

$font-size: 18 ;

$scale: 6/5 ;

$sc: (
    -3: 1/($scale * $scale * $scale),
    -2: 1/($scale * $scale),
    -1: 1/$scale,
    0: 1,
    1: $scale,
    2: $scale * $scale,
    3: $scale * $scale * $scale,
    4: $scale * $scale * $scale * $scale,
    5: $scale * $scale * $scale * $scale * $scale
) ;

@function scale($n) {
    @return map-get($sc, $n) ;
}

$line: (1/0.32) * 1ex ;
$width: 60ch ;

$col: 1ch ;
$col2: 2 * $col ;
$col3: 3 * $col ;
$col4: 4 * $col ;
$col5: 5 * $col ;
$col6: 6 * $col ;
$col7: 7 * $col ;
$col8: 8 * $col ;

$line2: 2 * $line ;
$line3: 3 * $line ;
$halfline: 0.5 * $line ;
$lineandhalf: 1.5 * $line ;
$doubleline: 2 * $line ;

$A4-width: 49.8rem ;
$aside: 13rem ;
$A4-margin: 10rem ;

@mixin clear {
    all: initial ;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block ;
    margin: 0;
    padding: 0;
    border: none;
    outline: none ;
    background-color: transparent;
    vertical-align: baseline ;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit ;
    line-height: inherit;
    text-indent: 0;
    color: inherit ;
}
@mixin small-caps {
    font-variant-caps: all-small-caps ;
    letter-spacing: 0.07em ;
}

@import "assets/_clear.scss";
@import "assets/_base.scss";

* { color-scheme: light dark ; }

@import "assets/_layout.scss";

@import "assets/_forms.scss";

@import "assets/_theme.scss";

@import "assets/_poetry.scss";

@import "assets/_print.scss";

@media (prefers-reduced-motion: no-preference) {
    * {
        transition: outline 0.05s, color 0.1s, background-color 0.1s ;
    }
}

p {
    break-inside: avoid-column ;
}
main {
    width: 130ch ;
}
main {
    column-count: auto ;
    column-fill: balance ;
    column-width: 60ch ;
}
// $back-width: 2 * $col8 ;
// body {
//     background: linear-gradient(0deg, rgba(255,0,0,0), #222 90%),
//                 linear-gradient(90deg, rgba(0,255,0,.8), #222 60%);
//     background-size: $back-width $line ;
// }
