.page {
    display: flex ;
}

.page {
    clear: both;
    box-sizing: border-box;
    max-inline-size: 100% ;

    flex-wrap: wrap ;
    column-gap: 1em ;
}

.mainbar, .sidebar {
    box-sizing: border-box;
    max-inline-size: 100% ;
}

.mainbar {
    flex-basis: var(--main-width) ;
    flex-grow: 3 ;
    flex-shrink: 2 ;
}
.sidebar {
    flex-basis: calc(0.66 * var(--measure)) ;
    flex-grow: 2 ;
    flex-shrink: 3 ;
}

.mainbar, .sidebar, .page {
    row-gap: var(--line);
}
.mainbar, .sidebar {
    display: flex ;
    flex-direction: column ;
}

.page {
    contain: layout style ;
}
.sidebar {
    contain: layout style ;
}
.mainbar {
    contain: layout style ;
}

/* .page { */
/*      background: linear-gradient(grey, Canvas); */
/*      background-size: 100% var(--line) ; */
/* } */
