<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body itemtype="http://schema.org/WebPage" itemscope itemid="{{ page.url | absolute_url }}">
    <div itemprop="mainEntity" itemtype="http://schema.org/Blog" itemscope>
      {%- include header.html -%}
      <div class="page-content">
        <div class="wrapper"
             itemscope itemprop="blogPost" itemtype="https://schema.org/BlogPosting"
             itemid="{{ page.url | absolute_url }}">
          {{ content }}
        </div>
      </div>
      {%- include footer.html -%}
    </div>
  </body>
</html>
