---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>

    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="{%- for category in post.categories -%}
                 {{ category | prepend: " category-" }}
                 {%- endfor -%}">
        {%- assign date_id_format = "%Y-%m-%d" -%}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>

        <small>
        <p class="post-meta">
          <a href="#{{ post.date | date: date_id_format }}">
            <span id="{{ post.date | date: date_id_format }}">{{ post.date | date: date_format }}</span>
          </a>
          {% for category in post.categories %}
          • <span>{{ category }}</span>
          {% endfor %}
          {% for tag in post.tags %}
          • <span>{{ tag }}</span>
          {% endfor %}
        </p>
        </small>

        <div class="post-excerpt">{{ post.excerpt }}</div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
