{%- assign date_id_format = "%Y-%m-%d" -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body itemtype="http://schema.org/WebPage" itemscope itemid="{{ page.url | absolute_url }}">

    <div itemprop="mainEntityOfPage" itemtype="http://schema.org/WebSite" itemscope itemid="{{ "/" | absolute_url }}">
      <meta itemprop="url" content="{{ "/" | absolute_url }}">
      <meta itemprop="name" content="{{ site.title }}">
    </div>

    <main class="page-content" aria-label="Content" itemprop="mainEntity" itemtype="http://schema.org/Blog" itemscope>
      <div class="wrapper">

        <div >
          <article class="home">
            {%- if page.title -%}
            <h1 class="page-heading" itemprop="name headline">{{ page.title }}</h1>
            {%- endif -%}

            <div>
              {{ content }}
            </div>

            <div>
              <a itemscope itemprop="author" rel="author" href="{{ page.author.url | relative_url}}">
                <span itemprop="name">{{ page.author.name }}</span>
              </a>
            </div>
          </article>

          {%- if site.posts.size > 0 -%}
          <h2 class="post-list-heading">Contents</h2>

          <details class="post-filter">
            <summary>Filter Posts</summary>
            <form rel="search" role="search" name="post-filter" onsubmit="void()"  method="get">
              <fieldset>
                <label for="category">
                  <span class="label">Category:</span>
                  <span style="display:block">
                    <select id="category" name="category" multiple="multiple" size="2">
                      {% for category in categories %}
                      {% assign cat = category[0] | escape %}
                      <option selected="selected" value="{{ cat }}">{{ cat }}</option>
                      {% endfor %}
                    </select>
                  </span>
                </label>
              </fieldset>

              <fieldset>
                <label for="tag">
                  <span class="label">Tag:</span>
                  <span style="display:block">
                    <select id="tag" name="tag" multiple="multiple" size="5">
                      {% for tag in tags %}
                      {% assign tg = tag[0] | escape %}
                      <option selected="selected" value="{{ tg }}">{{ tg }}</option>
                      {% endfor %}
                    </select>
                  </span>
                </label>
              </fieldset>
            </form>
          </details>

          <nav>
            <ol class="post-list">
              {%- for post in site.posts -%}
              <li itemprop="blogPost"
                  data-category="{{ post.categories | join: " " | escape }}"
                  data-tag="{{ post.tags | join: " " | escape }}"
                  itemscope
                  itemtype="http://schema.org/BlogPosting"
                  itemid="{{ post.url | absolute_url }}">
                <h3>
                  <a itemprop="url" class="post-link" href="{{ post.url | relative_url }}">
                    <span itemprop="name headline">{{ post.title | escape }}</span>
                  </a>
                </h3>

                <small class="post-meta">
                  <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ post.date | date: date_format }}
                  </time>
                  {%- for category in post.categories -%}
                  • <span itemprop="keywords">{{ category | escape }}</span>
                  {%- endfor -%}
                  {%- for tag in post.tags -%}
                  • <span itemprop="keywords">{{ tag | escape }}</span>
                  {%- endfor -%}
                  <span itemprop="author" itemtype="http://schema.org/Person"><link rel="author" itemprop="url" href="{{ post.author.url | relative_url }}"></link></span>
                </small>

                <div class="post-excerpt" itemprop="description">{{ post.excerpt }}</div>
              </li>
              {%- endfor -%}
            </ol>
          </nav>
          {%- endif -%}

        </div>
      </div>
    </main>

    <script>
      const values = (target) =>
            Array.from(target.options)
            .filter(o => o.selected)
            .map(o => o.value);

      const category = document.querySelector('[name="post-filter"] [name="category"]');
      const tag = document.querySelector('[name="post-filter"] [name="tag"]');
      const postList = document.querySelector('.post-list');

      const c = {
          categories: values(category),
          tags: values(tag)
      };

      const redisplay = () => {
          const catList = c
                .categories
                .map(cat => `[data-category~="${cat}"]`)
                .join(',');
          const tagList = c
                .tags
                .map(tag => `[data-tag~="${tag}"]`)
                .join(',');
          const query = `.post-list > li:where(${catList}):where(${tagList})`;
          document
              .querySelectorAll('.post-list > li')
              .forEach(post => {
                  post.style.display = 'none';
              });
          document
              .querySelectorAll(query)
              .forEach(post => {
                  post.style.display = 'initial';
              });
      };

      category.addEventListener('change', (event) => {
          c.categories = values(event.target);
          redisplay();
      });
      tag.addEventListener('change', (event) => {
          c.tags = values(event.target);
          redisplay();
      });
    </script>
  </body>
</html>
