---
layout: default
---
<header style="text-align:center">
  <div>
    <a rel="bookmark" href="{{ page.url | relative_url }}" itemprop="url">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    </a>
  </div>
</header>

<div class="poem post h-entry" style="text-align: center">
  <div style="display:inline-block;text-align: left">
    <main aria-label="Content" class="post-content e-content" itemprop="articleBody">
      {{ content }}
    </main>

    <footer>
      {%- include metadata.html -%}
    </footer>
  </div>
</div>
