---
layout: page
title: Search
permalink: /search/
---
{%- assign date_id_format = "%Y-%m-%d" -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{%- assign categories = site.categories | sort -%}
{%- assign tags = site.tags | sort -%}

<template id="search-result">
  <li>

    <a class="search-url">
      <span class="search-title">Title</span>
    </a>

    <ul class="search-keywords metadata">
      <li>
        <time class="search-date">
          Date
        </time>
      </li>
    </ul>
  </li>
</template>

<script type="module" defer async src="{{ "/assets/search.js" | relative_url }}"></script>

<form id="search" rel="search" role="search" name="search-form" method="get">
  <fieldset>
    <label for="category">
      <span class="label">Category:</span>
      <span style="display:block">
        <select id="category" name="category" multiple="multiple" size="2">
          {% for category in categories %}
          {% assign cat = category[0] | escape %}
          <option value="{{ cat }}">{{ cat }}</option>
          {% endfor %}
        </select>
      </span>
    </label>
  </fieldset>

  <fieldset>
    <label for="tag">
      <span class="label">Tag:</span>
      <span style="display:block">
        <select id="tag" name="tag" multiple="multiple" size="5">
          {% for tag in tags %}
          {% assign tg = tag[0] | escape %}
          <option value="{{ tg }}">{{ tg }}</option>
          {% endfor %}
        </select>
      </span>
    </label>
  </fieldset>

  <span style="display:block; text-align:center">
    <button>Search</button>
  </span>

  <output id="search-output">
  </output>
</form>
