.orderedList {
    list-style-type: nodot ;
}
.unorderedList {
    list-style-type: bullet ;
}

.unorderedList, .orderedList {
    display: block ;
    contain: layout ;
    padding: 0;
    margin-block: var(--line) ;
}

.uitem, .oitem, .roitem {
    display: flex ;
    column-gap: 0.75em ;
}

.uitem::before, .oitem::before, .roitem::before {
    display: block ;
    min-inline-size: 1.25em ;
    font-weight: bold ;
    font-variant-numeric: lining-nums tabular-nums;
    color: var(--emphasis-text);
}

.uitem::before {
    text-align: center ;
    flex-basis: 1.25em ;
    content: "\2043";
}

.oitem::before, .roitem::before {
    text-align: end ;
    flex-basis: 1.25em ;
    content: counter(list-item);
}

.oitem::before {
    counter-increment: list-item ;
}
.roitem::before {
    counter-increment: list-item -1;
}

.content {
    flex-grow: 2 ;
    display: block ;
}
