@counter-style bullet {
  system: cyclic;
  symbols: "\2043";
  suffix: "";
}

.ul {
    all: unset;
    list-style-type: bullet;
    box-decoration-break: clone;
    contain: layout style;
    display: flex;
    flex-direction: column;
    inline-size: fit-content;
    max-inline-size: 100%;
    margin-block: var(--line);
    position: relative;
}
