.entryItem {
    all: unset;
    display: flex;
    align-items: center;
}
.entryForm {
    display: flex;
}



.grabberWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grabber {
    all: unset;
    touch-action: none;

    margin-block: 0.3em;
    margin-inline: 0.3em;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.grabberIcon {
    user-select: none;

    font-size: 2.3em;
    margin-inline: 0.2em;
}

.grabber {
    cursor: grab;
}
.grabber:active {
    cursor: grabbing;
}

.grabber {
    background-color: white;
}
.grabber:hover {
    background-color: lightgrey;
}
.grabber:active {
    background-color: darkgrey;
}

.grabber[aria-expanded="true"] {
    background-color: yellow;
}
.grabber:focus {
    outline-style: solid;
    outline-size: 2px;
}



.moveButtons {
    display: flex;
    flex-direction: column;
}


.dropWrapper {
    position: relative;
}

.dropZone {
    all: unset;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    inline-size:100%;
    z-index: 1000;

    background: #0001;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dropZone {
    cursor: grabbing;
}

.dropZone:focus {
    outline: solid;
    outline-size: 2px;
}

.dropZone:hover {
    background: #0002;
}
.dropZone:active {
    background: #1402;
}


.dropZone[disabled] {
    display: none;
}
