.header {
    all: unset ;
    display: flex ;
    column-gap: 1em ;
    flex-wrap: wrap ;
}

.comment {
    margin-block: var(--line);
}

.iframe {
    inline-size: 100% ;
    border: none;
    block-size: calc(3 * var(--line));
}

.iframe {
}

.loaded {
}
.unloaded {
    visibility: hidden ;
}
