.header {
    all: unset ;
    display: flex ;
    column-gap: 1em ;
    flex-wrap: wrap ;
}

.comment {
    margin-block: var(--line);
}

.children .comment {
    border-inline-start-style: dashed ;
    border-width: 2px ;
    padding-inline-start: 1em ;
}

.children .comment .comment {
    border: none ;
    padding: 0 ;
}

.iframe {
    inline-size: 100% ;
    border: none;
    block-size: calc(3 * var(--line));
}

.iframe {
}

.loaded {
}
.unloaded {
    visibility: hidden ;
}
