.time {
    font-variant-numeric: lining-nums tabular-nums;
}

.address {
    font: inherit ;
}
.dl, .dt {
    margin: 0 ;
    padding: 0 ;
}

.dl, .dt {
    margin-block: 0;
}
.dt {
    display: contents ;
}
.dl {
    display: flow-root ;
    contain: layout ;
}
