.time {
    font-variant-numeric: lining-nums tabular-nums;
}

.address {
    font-style: unset ;
}
.dl, .dt {
    margin: unset ;
    padding: unset ;
}

.dl {
    inline-size: fit-content ;
}

.dl, .dt {
    margin-block: 0;
}
.dl {
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 1em ;
}
