.time {
    font-variant-numeric: lining-nums tabular-nums;
}

.address {
    font: inherit ;
}
.dl, .dt {
    margin: 0 ;
    padding: 0 ;
}

.dt {
    display: block ;
}
.dl {
    display: flex ;
    flex-wrap: wrap ;
    column-gap: 0.5em ;
}
