.p {
    all: unset;
    display: block;
    contain: style;

    margin-block: var(--line);
    inline-size: var(--measure);
    max-inline-size: 100%;
    hyphens: auto;
}

@media screen {
    .p {
        margin-inline-start: calc(1.5 * var(--s));
        margin-inline-end: calc(0.5 * var(--s));
    }
}

.p {
    /* default ratio on browsers is 1rem = 16px */
    --s: clamp(0rem, (1600vw - 600rem) / 100, 1rem) ;
}
